/*--------------------------------------------------------------
 
 Project   : Limestone WordPress Theme
 Purpose   : Editor styles
 Author    : Evpro
 Theme URI : http://www.evpro.com.au

-------------------------------------------------------------------*/

/* main */
body#tinymce.wp-editor .thin-font { font-weight: 300 !important; }

/* pre tags */
body#tinymce.wp-editor pre { position: relative; background: #f7f7f7; padding: 20px; padding-right: 50px; margin: 30px 0; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; font-family: 'Verdana'; letter-spacing: 1px; z-index: 1; }
body#tinymce.wp-editor pre:before { position: absolute; width: 30px; padding-top: 10px; text-align: center; right: 0; top: 0; height: 100%; font-family: "FontAwesome"; content: "\f121"; background: #e7e7e7; color: #333; font-size: 14px; }

/* highlight */
body#tinymce.wp-editor .text-highlight { background-image: url("../images/highlight-left.png"),url("../images/highlight-center.png"), url("../images/highlight-right.png"); background-repeat: repeat-x;background-repeat: no-repeat, repeat-x, no-repeat;background-position: center;background-position: left,center,right;background-clip: padding-box, content-box, padding-box;color: #A5651A;padding: 0 20px; margin: 0 -6px; }

/* dropcaps */
body#tinymce.wp-editor .dropcap { display: block; float: left; margin-right: 10px; margin-bottom: 10px; font-size: 42px; line-height: 100%; }
body#tinymce.wp-editor .dropcap.boxed { color: #fff; background: #000; padding: 5px 10px; }

/* hr */
body#tinymce.wp-editor hr { border: solid #e4e4e4; border-width: 1px 0 0; clear: both; margin: 40px 0; height: 0; }

/* fancy header */
body#tinymce.wp-editor .theme-heading { color: #000; font-weight: 600; font-size: 14px; padding-bottom: 3px; border-bottom: 1px solid #e4e4e4; margin: 20px 0; }

/* list */
body#tinymce.wp-editor ul.check-list { margin: 0 0 20px; list-style: none; }
body#tinymce.wp-editor ul.check-list li { margin: 0 0 5px; }
body#tinymce.wp-editor ul.check-list li:before { font-family: "FontAwesome"; content:"\f00c"; margin-right: 10px; opacity: 0.8; }

/* Buttons */
body#tinymce.wp-editor .theme-button,
body#tinymce.wp-editor .color-button,
body#tinymce.wp-editor input[type="submit"],
body#tinymce.wp-editor button { background: #4a97c2; color: #fff; padding: .5em 1em; margin: 0; display: inline-block; font-size: 0.923em; font-weight: normal; color: #fff; outline: none; cursor: pointer; outline: none; border: none; font-family: inherit; -webkit-appearance: none; transition: all 0.15s ease-in-out; border-radius: 3px; -webkit-font-smoothing: inherit; text-decoration: none !important; }
body#tinymce.wp-editor .theme-button:hover,
body#tinymce.wp-editor .color-button:hover,
body#tinymce.wp-editor input[type="submit"]:hover,
body#tinymce.wp-editor button:hover { color: #fff }

body#tinymce.wp-editor .theme-button:active,
body#tinymce.wp-editor .color-button:active,
body#tinymce.wp-editor input[type="submit"]:active,
body#tinymce.wp-editor button:active { color: #fff; box-shadow: 0 2px 2px rgba(0,0,0,.1) inset; }

body#tinymce.wp-editor .theme-button.blue,
body#tinymce.wp-editor .color-button.blue { background: #4a97c2 }
body#tinymce.wp-editor .theme-button:hover,
body#tinymce.wp-editor .theme-button.blue:hover,
body#tinymce.wp-editor .active .theme-button,
body#tinymce.wp-editor .theme-button.active
body#tinymce.wp-editor .active .theme-button.blue,
body#tinymce.wp-editor .theme-button.blue.active { background: #327397 }
body#tinymce.wp-editor .theme-button.grey,
body#tinymce.wp-editor .color-button.grey { background: #bbb }
body#tinymce.wp-editor .theme-button.grey:hover,
body#tinymce.wp-editor .active .theme-button.grey,
body#tinymce.wp-editor .theme-button.active.grey { background: #999 }
body#tinymce.wp-editor .theme-button.black,
body#tinymce.wp-editor .color-button.black { background: #333 }
body#tinymce.wp-editor .theme-button.black:hover,
body#tinymce.wp-editor .active .theme-button.black,
body#tinymce.wp-editor .theme-button.active.black { background: #555 }
body#tinymce.wp-editor .theme-button.orange,
body#tinymce.wp-editor .color-button.orange { background: #ee7836 }
body#tinymce.wp-editor .theme-button.orange:hover,
body#tinymce.wp-editor .active .theme-button.orange,
body#tinymce.wp-editor .theme-button.active.orange { background: #cf5511 }
body#tinymce.wp-editor .theme-button.gold,
body#tinymce.wp-editor .color-button.gold { background: #ddba00 }
body#tinymce.wp-editor.theme-button.gold:hover,
body#tinymce.wp-editor .active .theme-button.gold,
body#tinymce.wp-editor .theme-button.active.gold { background: #aa8f00 }
body#tinymce.wp-editor .theme-button.green,
body#tinymce.wp-editor .color-button.green { background: #87bf17 }
body#tinymce.wp-editor .theme-button.green:hover,
body#tinymce.wp-editor .active .theme-button.green,
body#tinymce.wp-editor .theme-button.active.green { background: #679212 }
body#tinymce.wp-editor .theme-button.purple,
body#tinymce.wp-editor .color-button.purple { background: #9a5e9a }
body#tinymce.wp-editor .theme-button.purple:hover,
body#tinymce.wp-editor .active .theme-button.purple,
body#tinymce.wp-editor .theme-button.active.purple { background: #653e65 }
body#tinymce.wp-editor .theme-button.teal,
body#tinymce.wp-editor .color-button.teal { background: #00b3b3 }
body#tinymce.wp-editor .theme-button.teal:hover,
body#tinymce.wp-editor .active .theme-button.teal,
body#tinymce.wp-editor .theme-button.active.teal { background: #006f6f }
body#tinymce.wp-editor .theme-button.pink,
body#tinymce.wp-editor .color-button.pink { background: #f261c2 }
body#tinymce.wp-editor .theme-button.pink:hover,
body#tinymce.wp-editor .active .theme-button.pink,
body#tinymce.wp-editor .theme-button.active.pink { background: #bc0f83 }
body#tinymce.wp-editor .theme-button.brown,
body#tinymce.wp-editor .color-button.brown { background: #804b35 }
body#tinymce.wp-editor .theme-button.brown:hover,
body#tinymce.wp-editor .active .theme-button.brown,
body#tinymce.wp-editor .theme-button.active.brown { background: #5c3626 }
body#tinymce.wp-editor .theme-button.red,
body#tinymce.wp-editor .color-button.red { background: #f73936 }
body#tinymce.wp-editor .theme-button.red:hover,
body#tinymce.wp-editor .active .theme-button.red,
body#tinymce.wp-editor .theme-button.active.red { background: #bf0a08 }
body#tinymce.wp-editor .theme-button.rosy,
body#tinymce.wp-editor .color-button.rosy { background: #ea2487 }
body#tinymce.wp-editor .theme-button.rosy:hover,
body#tinymce.wp-editor .active .theme-button.rosy,
body#tinymce.wp-editor .theme-button.active.rosy { background: #b81265 }
body#tinymce.wp-editor .theme-button.white,
body#tinymce.wp-editor .color-button.white { background: #fff; color: #000; }
body#tinymce.wp-editor .theme-button.white:hover,
body#tinymce.wp-editor .active .theme-button.white,
body#tinymce.wp-editor .theme-button.active.white { background: #fff }
