/*--------------------------------------------------------------
 
 Project   : Limestone WordPress Theme
 Purpose   : IE8 Fixes
 Author    : Evpro
 Theme URI : http://www.evpro.com.au

/*------------------------------------------------------------------

/*------------------------------------------------------------------
[Commons]
-------------------------------------------------------------------*/

/* Theme Grid */
.wp_row { zoom: 1; position: relative; }
#wrap .wpex-row { margin-left: 0 !important; margin-right: 0 !important; }
#wrap .wpex-row .col { margin: 0 0 20px 1.6%; padding: 0; }
#wrap .wpex-row .span_1_of_2 { width: 49% }
#wrap .wpex-row .span_1_of_3 { width: 33% }
#wrap .wpex-row .span_1_of_4 { width: 23% }
#wrap .wpex-row .span_1_of_5 { width: 18% }
#wrap .wpex-row .span_1_of_6 { width: 15% }
body .wpb_row .vc_span12,
body .wpb_teaser_grid.wpb_carousel .vc_span12 { width: 100% }

/*flush dropdowns*/


/* Other Fixes */
.vcex-background.style-parallax { background-attachment: fixed !important }
.theme-button.clean.blue { background: #eee; }
.wpex-slider .sp-arrow { display: none !important; }
.staff-social a { display: block; float: left; }

/*------------------------------------------------------------------
[Visual Composer Grid]
-------------------------------------------------------------------*/
.vc_col-sm-1,.vc_col-sm-2,.vc_col-sm-3,.vc_col-sm-4,.vc_col-sm-5,.vc_col-sm-6,.vc_col-sm-7,.vc_col-sm-8,.vc_col-sm-9,.vc_col-sm-10,.vc_col-sm-11,.vc_col-sm-12{float:left}.vc_col-sm-12{width:100%}.vc_col-sm-11{width:91.66666667%}.vc_col-sm-10{width:83.33333333%}.vc_col-sm-9{width:75%}.vc_col-sm-8{width:66.66666667%}.vc_col-sm-7{width:58.33333333%}.vc_col-sm-6{width:50%}.vc_col-sm-5{width:41.66666667%}.vc_col-sm-4{width:33.33333333%}.vc_col-sm-3{width:25%}.vc_col-sm-2{width:16.66666667%}.vc_col-sm-1{width:8.33333333%}.vc_col-sm-pull-12{right:100%}.vc_col-sm-pull-11{right:91.66666667%}.vc_col-sm-pull-10{right:83.33333333%}.vc_col-sm-pull-9{right:75%}.vc_col-sm-pull-8{right:66.66666667%}.vc_col-sm-pull-7{right:58.33333333%}.vc_col-sm-pull-6{right:50%}.vc_col-sm-pull-5{right:41.66666667%}.vc_col-sm-pull-4{right:33.33333333%}.vc_col-sm-pull-3{right:25%}.vc_col-sm-pull-2{right:16.66666667%}.vc_col-sm-pull-1{right:8.33333333%}.vc_col-sm-pull-0{right:auto}.vc_col-sm-push-12{left:100%}.vc_col-sm-push-11{left:91.66666667%}.vc_col-sm-push-10{left:83.33333333%}.vc_col-sm-push-9{left:75%}.vc_col-sm-push-8{left:66.66666667%}.vc_col-sm-push-7{left:58.33333333%}.vc_col-sm-push-6{left:50%}.vc_col-sm-push-5{left:41.66666667%}.vc_col-sm-push-4{left:33.33333333%}.vc_col-sm-push-3{left:25%}.vc_col-sm-push-2{left:16.66666667%}.vc_col-sm-push-1{left:8.33333333%}.vc_col-sm-push-0{left:auto}.vc_col-sm-offset-12{margin-left:100%}.vc_col-sm-offset-11{margin-left:91.66666667%}.vc_col-sm-offset-10{margin-left:83.33333333%}.vc_col-sm-offset-9{margin-left:75%}.vc_col-sm-offset-8{margin-left:66.66666667%}.vc_col-sm-offset-7{margin-left:58.33333333%}.vc_col-sm-offset-6{margin-left:50%}.vc_col-sm-offset-5{margin-left:41.66666667%}.vc_col-sm-offset-4{margin-left:33.33333333%}.vc_col-sm-offset-3{margin-left:25%}.vc_col-sm-offset-2{margin-left:16.66666667%}.vc_col-sm-offset-1{margin-left:8.33333333%}.vc_col-sm-offset-0{margin-left:0%}
