/*--------------------------------------------------------------
 
 Project   : Limestone WordPress Theme
 Purpose   : LayerSlider tweaks
 Author    : Evpro
 Theme URI : http://www.evpro.com.au

------------------------------------------------------------------*/

/*main*/
.ls-thumbnail-hover-img img { width: 100% }

/*default skin*/
body .ls-defaultskin { padding: 0; background: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
body .ls-defaultskin .ls-nav-prev,
body .ls-defaultskin .ls-nav-next { top: 50%; margin: -40px 0 0; background: #000; opacity: 0.2; height: 80px; width: 50px; z-index: 99 !important; }
body .ls-defaultskin .ls-nav-prev,
body .ls-defaultskin .ls-nav-prev:hover { background: #000 url('../images/ls-arrow-left.png') no-repeat center center; left: 0; }
body .ls-defaultskin .ls-nav-next,
body .ls-defaultskin .ls-nav-next:hover { background: #000 url('../images/ls-arrow-right.png') no-repeat center center; right: 0; }
body .ls-defaultskin .ls-nav-prev:hover,
body .ls-defaultskin .ls-nav-next:hover { opacity: 0.5 }
body .ls-borderlesslight .ls-nav-prev,
body .ls-borderlesslight .ls-nav-next { z-index: 99 !important }

/*minimal skin*/
body .ls-minimal { padding: 0; background: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
body .ls-minimal .ls-nav-prev,
body .ls-minimal .ls-nav-next { top: 50%; margin: -40px 0 0; background: #000; opacity: 0.2; height: 80px; width: 50px; z-index: 99; }
body .ls-minimal .ls-nav-prev,
body .ls-minimal .ls-nav-prev:hover { background: #000 url('../images/ls-arrow-left.png') no-repeat center center; left: 0; }
body .ls-minimal .ls-nav-next,
body .ls-minimal .ls-nav-next:hover { background: #000 url('../images/ls-arrow-right.png') no-repeat center center; right: 0; }
body .ls-minimal .ls-nav-prev:hover,
body .ls-minimal .ls-nav-next:hover { opacity: 0.5 }

/*full-width skin*/
body .ls-fullwidth { padding: 0; background: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
body .ls-fullwidth .ls-nav-prev,
body .ls-fullwidth .ls-nav-next { top: 50%; margin: -40px 0 0; background: #000; opacity: 0.2; height: 80px; width: 50px; z-index: 99; }
body .ls-fullwidth .ls-nav-prev,
body .ls-fullwidth .ls-nav-prev:hover { background: #000 url('../images/ls-arrow-left.png') no-repeat center center; left: 0; }
body .ls-fullwidth .ls-nav-next,
body .ls-fullwidth .ls-nav-next:hover { background: #000 url('../images/ls-arrow-right.png') no-repeat center center; right: 0; }
body .ls-fullwidth .ls-nav-prev:hover,
body .ls-fullwidth .ls-nav-next:hover { opacity: 0.5 }

/*full-width dark skin*/
body .ls-fullwidthdark { padding: 0; background: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
body .ls-fullwidthdark .ls-nav-prev,
body .ls-fullwidthdark .ls-nav-next { top: 50%; margin: -40px 0 0; background: #000; opacity: 0.2; height: 80px; width: 50px; z-index: 99; }
body .ls-fullwidthdark .ls-nav-prev,
body .ls-fullwidthdark .ls-nav-prev:hover { background: #000 url('../images/ls-arrow-left.png') no-repeat center center; left: 0; }
body .ls-fullwidthdark .ls-nav-next,
body .ls-fullwidthdark .ls-nav-next:hover { background: #000 url('../images/ls-arrow-right.png') no-repeat center center; right: 0; }
body .ls-fullwidthdark .ls-nav-prev:hover,
body .ls-fullwidthdark .ls-nav-next:hover { opacity: 0.5 }

/*pagination buttons*/
body .ls-fullwidthdark .ls-bottom-slidebuttons,
body .ls-fullwidthdark .ls-nav-start,
body .ls-fullwidthdark .ls-nav-stop,
body .ls-fullwidthdark .ls-nav-sides { top: -40px }

/*box shadow*/
body .ls-shadow { opacity: 0.4; }

/*remove text decoration on links*/
.ls-container a,
.ls-container a:hover,
.ls-container a:active { text-decoration: none }

/*link classes*/
.ls-container .layerslider-button:hover { text-decoration: none; text-decoration: none; opacity: 0.85; }
.ls-container .layerslider-button:active { opacity: 1; box-shadow: 0 2px 2px rgba(0,0,0,.4) inset; -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4) inset; -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4) inset; }
