/*--------------------------------------------------------------
 
 Project   : Limestone WordPress Theme
 Purpose   : Visual Composer tweaks & fixes
 Author    : Evpro
 Theme URI : http://www.evpro.com.au

/*------------------------------------------------------------------
[Table of contents]

1. Main Tweaks
2. Button
3. Custom Headings
4. Call To Action
5. Columns
6. Widgets
7. Tabs
8. Tours
9. Toggles
10. Accordions
11. Font Smoothing
12. Accent Color
13. Responsiveness
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Main Tweaks]
-------------------------------------------------------------------*/
.wpex-vc-row-wrap { margin: 0 auto }
/* Removes extra vc spacing but causes issue if the content is flush with the top of the site :(
.vc_empty-placeholder { margin: 0 !important }*/
.vc_empty .wpb_column { float: none }
.compose-mode .visible-in-composer { display: block !important }
.vc_row.wpex-parallax-bg-wrap { background-image: none !important }

/*remove default vc margins*/
.wpb_row,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin,
.wpb_button { margin-bottom: 0 }

/*full width page template fixes*/
.wpex-vc-row-centered .wpex-vc-columns-wrap { margin-left: -15px; margin-right: -15px; }

/*don't allow max-width classes on this element*/
.wpb_row { max-width: none }

/*stretch row content fix*/
.stretch_row_content .vc_col-sm-12 { padding-left: 0; padding-right: 0; }

/*centered row fix*/
.wpex-vc-row-centered { margin-left: auto !important; margin-right: auto !important; }
.wpex-vc-row-centered .vc_row { margin-left: 0; margin-right: 0; }

/*pie chart fix*/
.wpb_pie_chart_heading { margin-top: 20px }

/*google map fixes*/
.wpb_gmaps_widget .wpb_map_wraper,
.wpb_gmaps_widget .wpb_wrapper { border: none; padding: 0; }

/*responvie video fix*/
.wpb_video_widget .wpb_wrapper .wpb_video_wrapper { padding-top: 56.3% }

/*callout 2 button fix*/
.vc_button-2-wrapper { display: block }
.vc_cta3-container .vc_button-2-wrapper { display: inline-block }

/*rows without margins*/
.no-margins { margin: 0 !important }
.no-margins .wpb_column,
.no-margins .vc_vc_column { padding-left: 0 !important; padding-right: 0 !important; }
.no-margins .wpex-vc-column-wrapper { margin-bottom: 0px !important; }
.row-no-spacing .wpb_column { padding: 0 !important }

/*rows with custom spacing*/
.wpex-vc-has-custom-column-spacing .vc_row { margin-left: auto; margin-right: auto; }

/*0px row margins*/
.wpex-vc-column-spacing-0px .vc_row { margin-left: 0; margin-right: 0; }
.wpex-live-site .wpex-vc-column-spacing-0px .wpb_column,
.wpex-vc-column-spacing-0px .vc_vc_column { padding-left: 0; padding-right: 0; }
.wpex-vc-column-spacing-0px .wpex-vc-column-wrapper { margin-bottom: 0 }

/*20px row margins*/
.wpex-vc-column-spacing-20 .vc_row { margin-left: -10px; margin-right: -10px; }
.wpex-live-site .wpex-vc-column-spacing-20 .wpb_column,
.wpex-vc-column-spacing-20 .vc_vc_column { padding-left: 10px; padding-right: 10px; }
.wpex-vc-column-spacing-20 .wpex-vc-column-wrapper { margin-bottom: 20px }

.wpex-vc-row-centered.wpex-vc-column-spacing-20 .vc_row { margin-left: 0; margin-right: 0; }
.wpex-vc-row-centered.wpex-vc-column-spacing-20 .wpex-vc-columns-wrap { margin-left: -10px; margin-right: -10px; }

/*30px row margins*/
.wpex-vc-column-spacing-30 .vc_row { margin-left: -15px; margin-right: -15px; }
.wpex-live-site .wpex-vc-column-spacing-30 .wpb_column,
.wpex-vc-column-spacing-30 .vc_vc_column { padding-left: 15px; padding-right: 15px; }
.wpex-vc-column-spacing-30 .wpex-vc-column-wrapper { margin-bottom: 30px }

.wpex-vc-row-centered.wpex-vc-column-spacing-30 .vc_row { margin-left: 0; margin-right: 0; }
.wpex-vc-row-centered.wpex-vc-column-spacing-30 .wpex-vc-columns-wrap { margin-left: -15px; margin-right: -15px; }

/*40px row margins*/
.wpex-vc-column-spacing-40 .vc_row { margin-left: -20px; margin-right: -20px; }
.wpex-live-site .wpex-vc-column-spacing-40 .wpb_column,
.wpex-vc-column-spacing-40 .vc_vc_column { padding-left: 20px; padding-right: 20px; }
.wpex-vc-column-spacing-40 .wpex-vc-column-wrapper { margin-bottom: 40px }

.wpex-vc-row-centered.wpex-vc-column-spacing-40 .vc_row { margin-left: 0; margin-right: 0; }
.wpex-vc-row-centered.wpex-vc-column-spacing-40 .wpex-vc-columns-wrap { margin-left: -20px; margin-right: -20px; }

/*50px row margins*/
.wpex-vc-column-spacing-50 .vc_row { margin-left: -25px; margin-right: -25px; }
.wpex-live-site .wpex-vc-column-spacing-50 .wpb_column,
.wpex-vc-column-spacing-50 .vc_vc_column { padding-left: 25px; padding-right: 25px; }
.wpex-vc-column-spacing-50 .wpex-vc-column-wrapper { margin-bottom: 50px }

.wpex-vc-row-centered.wpex-vc-column-spacing-50 .vc_row { margin-left: 0; margin-right: 0; }
.wpex-vc-row-centered.wpex-vc-column-spacing-50 .wpex-vc-columns-wrap { margin-left: -25px; margin-right: -25px; }

/*60px row margins*/
.wpex-vc-column-spacing-60 .vc_row { margin-left: -30px; margin-right: -30px; }
.wpex-live-site .wpex-vc-column-spacing-60 .wpb_column,
.wpex-vc-column-spacing-60 .vc_vc_column { padding-left: 30px; padding-right: 30px; }
.wpex-vc-column-spacing-60 .wpex-vc-column-wrapper { margin-bottom: 60px }

.wpex-vc-row-centered.wpex-vc-column-spacing-60 .vc_row { margin-left: 0; margin-right: 0; }
.wpex-vc-row-centered.wpex-vc-column-spacing-60 .wpex-vc-columns-wrap { margin-left: -30px; margin-right: -30px; }

/*offset negative margins for vc backgrounds and borders*/
.wpex-offset-vc-10 { margin-left: 10px; margin-right: 10px; }
.wpex-offset-vc-15 { margin-left: 15px; margin-right: 15px; }
.wpex-offset-vc-20 { margin-left: 20px; margin-right: 20px; }
.wpex-offset-vc-25 { margin-left: 25px; margin-right: 25px; }
.wpex-offset-vc-30 { margin-left: 30px; margin-right: 30px; }

/*single image fixes*/
.wpb_single_image img { vertical-align: bottom }
.wpb_single_image a { display: block; display: inline-block; }
.vc_single_image-wrapper { position: relative; }
.vcex-img-hover-parent.wpb_single_image a { display: block }

/*hide dropdowns on front end composer*/
body.compose-mode .sf-menu ul { display: none !important }

/*other*/
.vc_separator h4 { font-size: 1.231em; }

/*------------------------------------------------------------------
[2. Button]
-------------------------------------------------------------------*/
.vc_btn { margin-bottom: 5px }
.vc_btn.vc_btn_3d { margin-bottom: 10px }
.vc_btn.full-width-button { width: 100%; text-align: center; }
.vc_btn_blue.vc_btn_3d { -webkit-box-shadow: 0 5px 0 #2e698a; box-shadow: 0 5px 0 #2e698a; }

/*------------------------------------------------------------------
[3. Custom Headings]
-------------------------------------------------------------------*/
.vc_custom_heading h1,h1.vc_custom_heading,.vc_custom_heading h2,h2.vc_custom_heading,.vc_custom_heading h3,h3.vc_custom_heading,.vc_custom_heading h4,h4.vc_custom_heading,.vc_custom_heading h5,h5.vc_custom_heading,.vc_custom_heading h6,h6.vc_custom_heading{ margin:0; }

/*------------------------------------------------------------------
[4. Call To Action]
-------------------------------------------------------------------*/
.vc_call_to_action { background: #f5f5f5; border-color: #f5f5f5; }

/*------------------------------------------------------------------
[5. Columns]
-------------------------------------------------------------------*/
.wpb_column.bordered-column { padding: 20px; border: 1px solid #e4e4e4; border-radius: 3px; border-radius: 3px; border-radius: 3px; }
.wpb_column.boxed-column { background: #f7f7f7; padding: 20px; border: 1px solid #e4e4e4; border-radius: 3px; border-radius: 3px; border-radius: 3px; }

/*------------------------------------------------------------------
[6. Widgets]
-------------------------------------------------------------------*/
.vc_wp_custommenu ul { list-style: none; margin: 0 !important; }
.wpb_row .widget-title { margin: 0 0 20px; font-size: 1.077em; font-weight: bold; font-weight: 600; color: #000; }
.wpb_row .widget_recent_entries ul,
.wpb_row .widget_wpex_fontawesome_social_widget ul,
.wpb_row .widget_wpex_recent_posts_thumb ul,
.wpb_row .widget_categories ul,
.wpb_row .widget_wpex_social_widget ul,
.wpb_row .widget_archive ul,
.wpb_row .widget_wpex_simple_menu ul { list-style: none; margin: 0; }
.entry .widget_nav_menu ul { list-style: none }

/*------------------------------------------------------------------
[7. Tabs]
-------------------------------------------------------------------*/

/* Tabs > Add Transition */
.wpb_tabs .wpb_tabs_nav li a { transition: all .15s ease-in-out }

/* Tabs > Default */
.wpb_tabs.tab-style-default .wpb_tabs_nav { display: block; margin: 0; padding: 0; border-bottom: solid 1px #e4e4e4; border-left: solid 1px #e4e4e4; width: 100%; float: none; height: 32px; }
.wpb_content_element.wpb_tabs.tab-style-default .wpb_tour_tabs_wrapper .wpb_tab { background-color: #fff; padding: 20px; border-left: solid 1px #e4e4e4; border-right: solid 1px #e4e4e4; border-bottom: solid 1px #e4e4e4; }
.wpb_tabs.tab-style-default .wpb_tabs_nav li { display: block; width: auto; padding: 0; float: left; margin: 0; outline: none; }
.wpb_tabs.tab-style-default .wpb_tabs_nav li a { display: block; text-decoration: none; width: auto; height: 31px; padding: 0px 20px; line-height: 31px; border: solid 1px #e4e4e4; border-left: 0; border-bottom: none; margin: 0; color: #777; outline: none; background: #f7f7f7; }
.wpb_tabs.tab-style-default .wpb_tabs_nav li a:hover { color: #000 }
.wpb_tabs.tab-style-default .wpb_tabs_nav li.ui-tabs-active a { background: #fff; height: 32px; margin-bottom: -1px; color: #000; border-bottom: none; font-weight: 400; }

/* Tabs > Alt 1 */
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav { display: block; margin: 0; padding: 0; border: solid 1px #e4e4e4; float: left; border-radius: 3px; }
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; zoom: 1; }
.wpb_content_element.wpb_tabs.tab-style-alternative-one .wpb_tab { clear: both; background: transparent; padding: 20px 0; border: none; }
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li { display: block; width: auto; padding: 0 !important; float: left !important; margin: 0 !important; outline: none; border: none; background: #f4f4f4; }
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li a { display: block; text-decoration: none; width: auto; padding: 5px 10px; border-left: 1px solid #e4e4e4; margin: 0; background: none; color: #898989; outline: none; font-size: 1em; }
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li:first-child a { border-left: none; border-radius: 4px 0 0 4px; }
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li:last-child a { border-radius: 0 4px 4px 0 }
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li a:hover { color: #000 }
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a { background: #fff; color: #000; }

/* Tabs > Alt 2 */
.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav { display: block; margin: 0; padding: 0; border-bottom: solid 1px #e4e4e4; }
.wpb_content_element.wpb_tabs.tab-style-alternative-two .wpb_tab { clear: both; background: transparent; padding: 20px 0; border: none; }
.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li { display: block; width: auto; padding: 0; float: left; margin: 0 25px 0 0; outline: none; border: none; background: none; }
.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li a { display: block; text-decoration: none; width: auto; padding: 5px 0; margin: 0; background: none; color: #ababab; outline: none; }
.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li a:hover { color: #000 }
.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { font-weight: bold; font-weight: 600; position: relative; margin-bottom: -1px; border-bottom: 2px solid transparent; color: #000; }

/*------------------------------------------------------------------
[8. Tours]
-------------------------------------------------------------------*/

/* Tours > Add Transition */
.wpb_tour_tabs_wrapper .wpb_tabs_nav a { padding: 0 }
.wpb_tour .wpb_tabs_nav li a { white-space: normal }
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab { min-height: 150px }

/* Tours > Default */
.wpb_tour.tab-style-default .wpb_tour_next_prev_nav { display: none }
.wpb_tour.tab-style-default .wpb_tour_tabs_wrapper .wpb_tab { border-left: 1px solid #e4e4e4 }
.wpb_tour.tab-style-default .wpb_tabs_nav li { background: none; border-bottom: 1px solid #e4e4e4; margin: 0; }
.wpb_tour.tab-style-default .wpb_tabs_nav li:last-child { border-bottom: none }
.wpb_tour.tab-style-default .wpb_tabs_nav li a { padding: 10px 20px 10px 0; color: #888; background: none; }
.wpb_tour.tab-style-default .wpb_tabs_nav li:first-child a { padding-top: 0 }
.wpb_tour.tab-style-default .wpb_tabs_nav li a:hover { color: #000 }
.wpb_tour.tab-style-default .wpb_tabs_nav li.ui-tabs-active a { color: #000; text-decoration: none; background: none; }

/* Tours > Alt 1 */
.wpb_tour.tab-style-alternative-one .wpb_tour_next_prev_nav { display: none }
.wpb_tour.tab-style-alternative-one .wpb_tabs_nav { border: 1px solid #e4e4e4 }
.wpb_tour.tab-style-alternative-one .wpb_tabs_nav li { background: none; border-bottom: 1px solid #e4e4e4; margin: 0; }
.wpb_tour.tab-style-alternative-one .wpb_tabs_nav li:last-child { border-bottom: none }
.wpb_tour.tab-style-alternative-one .wpb_tabs_nav li a { padding: 10px; color: #888; background: none; }
.wpb_tour.tab-style-alternative-one .wpb_tabs_nav li a:hover { color: #000; background: #f9f9f9; }
.wpb_tour.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a { background: #f7f7f7; color: #000; }

/* Tours > Alt 2 */
.wpb_tour.tab-style-alternative-two { border: 1px solid #e4e4e4 }
.wpb_tour.tab-style-alternative-two .wpb_tour_next_prev_nav { display: none }
.wpb_tour.tab-style-alternative-two .wpb_tour_tabs_wrapper .wpb_tab { border-left: 1px solid #e4e4e4; padding: 20px; }
.wpb_tour.tab-style-alternative-two .wpb_tabs_nav li { background: none; border-bottom: 1px solid #e4e4e4; margin: 0; }
.wpb_tour.tab-style-alternative-two .wpb_tabs_nav li:last-child { margin-bottom: -1px }
.wpb_tour.tab-style-alternative-two .wpb_tabs_nav li a { padding: 10px; color: #888; background: none; }
.wpb_tour.tab-style-alternative-two .wpb_tabs_nav li a:hover { color: #000; background: #f9f9f9; }
.wpb_tour.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { background: #f7f7f7; color: #000; }

/*------------------------------------------------------------------
[9. Toggles]
-------------------------------------------------------------------*/

/* Toggles > Icon */
.vc_toggle_default .vc_toggle_icon { display: none !important }

/* Toggles > Title */
.vc_toggle_default .vc_toggle_title { display: block; display: block; padding: 10px 12px !important; border: 1px solid #e4e4e4; outline: 0; margin: 0; cursor: pointer; background-color: #f7f7f7; }
.vc_toggle_default .vc_toggle_title h4 { color: #666; font-weight: normal; text-transform: none; letter-spacing: normal; transition: all .15s ease-in-out; }
.vc_toggle_default .vc_toggle_title h4:before { content: "\f067"; font-family: 'FontAwesome'; font-style: normal; font-weight: normal; line-height: 1; font-size: 0.846em; margin-right: 10px; color: #888; }
.vc_toggle_default .vc_toggle_title:hover { background-color: #f4f4f4; text-decoration: none; border-color: #ddd; }
.vc_toggle_default .vc_toggle_title:hover h4,
.vc_toggle_default .vc_toggle_title:hover h4:before { color: #000 }

/* Toggles > Active */
.vc_toggle_default.vc_toggle_active .vc_toggle_title { opacity: 1; background-color: #f7f7f7; background-image: none; }
.vc_toggle_default.vc_toggle_active .vc_toggle_title h4 { color: #000 }
.vc_toggle_default.vc_toggle_active .vc_toggle_title h4:before { content: "\f068" }
.vc_toggle_default.vc_toggle_active .vc_toggle_title:hover { color: #000; background-color: #f4f4f4; text-decoration: none; border-color: #ddd; }

/* Toggles > Content */
.vc_toggle_default .vc_toggle_content { display: none; overflow: hidden; padding: 15px 0; margin: 0; padding-left: 0 !important; }

/*------------------------------------------------------------------
[10. Accordions]
-------------------------------------------------------------------*/

/* Accordions > Header */
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header { display: block; color: #666; display: block; padding: 7px 12px; border: 1px solid #e4e4e4; outline: 0; text-transform: none; letter-spacing: normal; font-weight: normal; margin: 0; margin-top: 10px; cursor: pointer; background: #f7f7f7; background-repeat: no-repeat; position: relative; transition: all .15s ease-in-out; }
.wpb_accordion .wpb_accordion_wrapper h3 a { display: block; color: #666; }
.wpb_accordion .wpb_accordion_wrapper h3 { margin: 0; padding: 0; }
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a { padding-left: 0 }
.wpb_accordion .wpb_accordion_wrapper h3 a:before { content: "\f067"; font-family: 'FontAwesome'; font-style: normal; font-weight: normal; line-height: 1; font-size: 0.846em; margin-right: 10px; color: #666; }
.wpb_content_element .wpb_accordion_header a { padding: 0 }

/* Accordions > Header > Hover */
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:hover { color: #000; background: #f4f4f4; text-decoration: none; border-color: #ddd; }
.wpb_accordion .wpb_accordion_wrapper h3:hover a:before,
.wpb_accordion .wpb_accordion_wrapper h3:hover a { color: #000 }

/* Accordions > Header > Active */
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header { opacity: 1; font-weight: 400; text-decoration: none; }
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a { color: #000 }
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a:before { content: "\f068"; font-family: 'FontAwesome'; font-style: normal; font-weight: normal; line-height: 1; font-size: 0.846em; margin-right: 10px; color: #666; font-style: normal; }

/* Accordions > Icons */
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon,
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon { display: none }

/* Accordions > Content */
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content { padding: 10px 0; margin: 0; }

/*------------------------------------------------------------------
[11. Font Smoothing]
-------------------------------------------------------------------*/
.vc_toggle_default .vc_toggle_title h4:before,
.wpb_accordion .wpb_accordion_wrapper h3 a:before { font-weight: normal; font-style: normal; letter-spacing: normal; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*------------------------------------------------------------------
[12. Accent Color]
-------------------------------------------------------------------*/

/* Accent > #3b86b0 > Background */
.vc_btn_blue { background-color: #3b86b0 }

/* Accent > #3b86b0 > Border */
.vc_btn_blue.vc_btn_outlined { border-color: #3b86b0 }
body .vc_text_separator_two span,
.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { border-bottom-color: #3b86b0 }

/* Accent > #3b86b0 > Color */
.vc_btn_blue.vc_btn_outlined { color: #3b86b0 }

/* Accent > #2e698a > Background */
.vc_btn_blue:hover { background-color: #2e698a }

/* Accent > #2e698a > Border */
.vc_btn_blue.vc_btn_outlined:hover,
.vc_btn_blue.vc_btn_square_outlined:hover { border-color: #2e698a }
