/*--------------------------------------------------------------
 
 Project   : Limestone WordPress Theme
 Purpose   : Custom VC Modules
 Author    : Evpro
 Theme URI : http://www.evpro.com.au

------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Commons]
-------------------------------------------------------------------*/
.vcex-isotope-grid { overflow: hidden }
.vcex-readmore { font-size: 0.923em }
.vcex-icon-wrap { display: inline; display: inline-block; text-align: center; }
.vcex-icon-wrap.left,
.vcex-icon-position-left { margin-right: 10px }
.vcex-icon-wrap.right,
.vcex-icon-position-right { margin-left: 10px }

/*center row fix when site not set to full-screen*/
.content-right-sidebar .container.center-row,
.content-left-sidebar .container.center-row,
.content-full-width .container.center-row,
.content-no-sidebar  .container.center-row { width: 100% !important }

/*Visual Composer Extension Filter buttons*/
ul.vcex-filter-links { list-style: none; margin: 0 0 20px; }
ul.vcex-filter-links li { float: left; margin-right: 5px; margin-bottom: 5px; }
ul.vcex-filter-links li:last-child { margin-right: 0 }

/*center filter links*/
.vcex-filter-links.center { text-align: center }
.vcex-filter-links.center li { display: inline-block; float: none; }

/*single image caption*/
.wpb_single_image a { position: relative; max-width: 100%; }
.wpb_single_image_caption { position: absolute; z-index: 2; bottom: 20px; left: 0; color: #fff; padding: 4px 10px; background: #000; opacity: 0.7; }

/*------------------------------------------------------------------
[Spacing]
-------------------------------------------------------------------*/
.vcex-spacing { clear: both; display: block; width: 100%; height: auto; margin: 0; padding: 0; background: none; border: none; outline: none; }

/*------------------------------------------------------------------
[Bullets]
-------------------------------------------------------------------*/
.vcex-bullets ul { margin-left: 0 !important; padding-left: 0 !important; list-style: none !important; list-style-image: none !important; }
.vcex-bullets ul li { padding-left: 25px !important; margin-bottom: 6px; }
.vcex-bullets-check ul li { background: url('../images/check.png') left center no-repeat }
.vcex-bullets-gray ul li { background: url('../images/bullets-gray.png') left center no-repeat }
.vcex-bullets-black ul li { background: url('../images/bullets-black.png') left center no-repeat }
.vcex-bullets-blue ul li { background: url('../images/bullets-blue.png') left center no-repeat }
.vcex-bullets-red ul li { background: url('../images/bullets-red.png') left center no-repeat }
.vcex-bullets-purple ul li { background: url('../images/bullets-purple.png') left center no-repeat }

/*------------------------------------------------------------------
[Dividers]
-------------------------------------------------------------------*/
.vcex-divider { display: block; width: 100%; height: 0; margin: 0 auto; background: none; }
.vcex-divider-solid { border-top: 1px solid #e8e8e8 }
.vcex-divider-dashed { border-top: 2px dashed #e8e8e8 }
.vcex-divider-dotted-line { border-top: 2px dotted #e8e8e8 }
.vcex-divider-dotted { height: 3px; background: url('../images/dotted.png') center center repeat-x; border: none; }
.vcex-divider-dotted.repeat-bg { background-repeat: repeat }
.vcex-divider-double { height: 1px; padding-top: 2px; padding-bottom: 2px; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; }

/* divider with icons */
.vcex-divider-w-icon { display: block; height: auto; margin: 0 auto; text-align: center; border: none; overflow: hidden; }
.vcex-divider-icon { display: inline-block; position: relative; }
.vcex-divider-w-icon .vcex-icon-wrap { display: inline-block; padding: 10px 20px; font-size: 1.231em; color: #999; }
.vcex-divider-icon-before { display: block; position: absolute; top: 50%; border-bottom: solid 1px #e8e8e8; right: 100%; width: 9999px; margin-top: -0.5px; }
.vcex-divider-icon-after { display: block; position: absolute; top: 50%; border-bottom: solid 1px #e8e8e8; left: 100%; width: 9999px; margin-top: -0.5px; }
.vcex-divider-icon-has-bg .vcex-icon-wrap { margin: 0 20px }
.vcex-divider-double .vcex-divider-icon-before { border-top: solid 1px #e8e8e8; padding-top: 2px; padding-bottom: 2px; margin-top: -3px; }
.vcex-divider-double .vcex-divider-icon-after { border-top: solid 1px #e8e8e8; padding-top: 2px; padding-bottom: 2px; margin-top: -3px; }
.vcex-divider-dashed .vcex-divider-icon-before,
.vcex-divider-dashed .vcex-divider-icon-after { border-style: dashed; border-bottom-width: 2px; }
.vcex-divider-dotted-line .vcex-divider-icon-before,
.vcex-divider-dotted-line .vcex-divider-icon-after { border-style: dotted; border-bottom-width: 2px; }
.vcex-divider-custom-icon-height .vcex-icon-wrap { padding-top: 0; padding-bottom: 0; }
.vcex-divider-custom-icon-width .vcex-icon-wrap { padding-left: 0; padding-right: 0; }

/*------------------------------------------------------------------
[List Item]
-------------------------------------------------------------------*/
.vcex-list_item .vcex-icon-wrap { margin-right: 10px; text-align: center; }
.vcex-list_item { margin-bottom: 5px }
body .vcex-list_item a:hover { text-decoration: none !important }

/*------------------------------------------------------------------
[Buttons]
-------------------------------------------------------------------*/
body.compose-mode .vc-element.vc-vcex_button,
.vc_vcex_button.vc_empty-shortcode-element { display: block }
.vc_vcex_button.vc_empty-shortcode-element:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; zoom: 1; }
.theme-button-block-wrap { clear: left; display: block; }

/*------------------------------------------------------------------
[Pricing]
-------------------------------------------------------------------*/
.vcex-pricing-table { list-style: none; margin: 0; padding: 0; font-size: 1em; }
.vcex-pricing { background: #fff; border-radius: 4px 4px 0 0; }
.vcex-pricing .vcex-pricing-header { border: 1px solid #ccc; border-radius: 4px 4px 0 0; padding: 15px 20px; border-radius: 4px 4px 0 0; background: #e5e5e5; text-align: center; color: #444; font-size: 1em; font-weight: 600; text-transform: uppercase; margin: 0; }
.vcex-pricing.featured .vcex-pricing-header { border-color: rgba(0,0,0,0.15) }
.vcex-pricing .vcex-pricing-cost { background: #f7f7f7; text-align: center; padding: 20px 0; border: 1px solid #e4e4e4; border-top: 0 !important; border-bottom: 0 !important; }
.vcex-pricing .vcex-pricing-ammount { display: inline; color: #7dbd21; font-size: 36px; line-height: 1em; padding: 20px 0 0; font-weight: 200; }
.vcex-pricing .vcex-pricing-per { display: inline; font-size: 0.923em; color: #999; padding-top: 7px; }
.vcex-pricing .vcex-pricing-content { font-size: 1em; text-align: center; padding: 15px; border: 1px solid #e8e8e8; }
.vcex-pricing .vcex-pricing-content ul { margin: 0 !important; list-style: none !important; }
.vcex-pricing .vcex-pricing-content ul li { margin: 0 0 5px !important; padding: 0 !important; }
.vcex-pricing .vcex-pricing-content ul li:last-child { margin-bottom: 0 !important }
.vcex-pricing .vcex-pricing-content ul li img { margin-right: 5px; display: inline-block; }
.vcex-pricing .vcex-pricing-button { text-align: center; padding: 15px; border: 1px solid #e8e8e8; border-top: 0 !important; }
.vcex-pricing .vcex-pricing-button a { float: none; margin: 0 auto; }

/*visual composer support*/
.wpb_column .vcex-pricing { width: 100% !important; margin: 0 !important; float: none !important; }
.wpb_column .vcex-pricing:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; zoom: 1; }

/*------------------------------------------------------------------
[Skillbars]
-------------------------------------------------------------------*/
.vcex-skillbar { position: relative; display: block; margin-bottom: 7px; width: 100%; background: #fff; height: 40px; line-height: 40px; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); background: #f6f6f6; }
.vcex-skillbar-title { background: none !important; position: absolute; top: 0; left: 0; font-size: 1em; font-weight: normal; color: #fff; z-index: 2; }
.vcex-skillbar-title .vcex-skillbar-title-inner { display: block; padding: 0 12px; }
.vcex-skillbar-title .vcex-icon-wrap { margin-right: 7px }
.vcex-skillbar-bar { height: 100%; width: 0px; position: relative; z-index: 1; }
.vcex-skill-bar-percent { position: absolute; top: 0; right: 20px; text-align: center; color: #fff; font-size: 1em; }

/*------------------------------------------------------------------
[Callout]
-------------------------------------------------------------------*/
.vcex-callout { padding: 15px; position: relative; background: #f7f7f7; border: 1px solid #e4e4e4; border-radius: 3px; min-height: 70px; }
.vcex-callout-caption { float: left; font-size: 14px; font-weight: normal; }
.vcex-callout-caption h1,
.vcex-callout-caption h2,
.vcex-callout-caption h3,
.vcex-callout-caption h4 { margin: 0; font-size: 21px; font-weight: normal; color: #000; }
.vcex-callout-caption p:last-child { margin: 0 }
.vcex-callout-button { float: left }
.vcex-callout-button .theme-button { display: block; float: right; text-align: center; font-size: 1em; font-weight: normal; margin: 0; }
.vcex-callout.with-button .vcex-callout-caption { width: 75%; padding-right: 20px; }
.vcex-callout-button { width: 25% }

/*------------------------------------------------------------------
[LoginForm]
-------------------------------------------------------------------*/
.vcex-login-form { padding: 20px; border: 1px solid #e4e4e4; border-radius: 4px; }
.vcex-login-form label { font-weight: 600; color: #000; }
.vcex-login-form input[type="text"],
.vcex-login-form input[type="password"] { margin-top: 10px; width: 100%; font-size: 14px; }

/*------------------------------------------------------------------
[Newsletter]
-------------------------------------------------------------------*/
.vcex-newsletter-form input[type="text"],
.vcex-newsletter-form input[type="email"] { width: 100%; margin: 0; border-radius: 4px; -webkit-appearance: none; font-size: 14px; padding: 0 15px; height: 50px; }
.vcex-newsletter-form-wrap { position: relative; margin: 0 auto; }
.vcex-newsletter-form-button { display: block; position: absolute; top: 50%; margin-top: -15px; right: 20px; padding: 0 15px; height: 30px; line-height: 30px; border-radius: 3px; }

/*------------------------------------------------------------------
[Search Bar]
-------------------------------------------------------------------*/
.vcex-searchbar { font-size: 1.231em; position: relative; }
.vcex-searchbar-input { float: left; width: 70%; }
.vcex-searchbar-button { position: absolute; top: 0; right: 0; width: 28%; height: 100%; line-height: 100%; padding-top: 0; padding-bottom: 0; }
.vcex-searchbar-input[type="search"] { font-size: inherit; color: inherit; text-transform: inherit; letter-spacing: inherit; font-weight: inherit; padding: 0.8em; }
.vcex-searchbar-input:-webkit-autofill { -webkit-box-shadow: none }

/*------------------------------------------------------------------
[Recent News]
-------------------------------------------------------------------*/
.vcex-recent-news-header { margin-bottom: 30px }
.vcex-recent-news-entry { position: relative; margin: 0; padding-left: 85px; width: auto !important; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #eee; }
.vcex-recent-news-entry:last-child { margin-bottom: 0; border-bottom: 0; padding-bottom: 0; }
.vcex-recent-news-date { position: absolute; left: 0; top: 0; width: 60px; padding: 5px 0 0; text-align: center; border: 1px solid #ddd; background: #f7f7f7; border-bottom: none; }
.vcex-recent-news-date span.day { display: block; font-size: 24px; color: #444; font-weight: 300; padding: 0 5px 5px; }
.vcex-recent-news-date span.month { display: block; font-size: 11px; padding: 2px 5px; font-weight: normal; text-transform: uppercase; position: relative; margin: -1px -1px 0; }
.vcex-news-entry-details { min-height: 72px }
.vcex-recent-news-entry { margin-bottom: 30px }
.vcex-news-entry-thumbnail,
.vcex-news-entry-video { margin-bottom: 20px }
.vcex-news-entry-thumbnail img { display: block }
.vcex-news-entry-thumbnail a { display: block }
.vcex-news-entry-thumbnail a:hover img { opacity: 0.85 }
.vcex-recent-news-entry-title-heading { font-size: 14px; margin: 0 0 10px; font-weight: 600; }
.vcex-recent-news-entry-excerpt p:last-child { margin: 0 }
.vcex-recent-news-entry-excerpt .theme-button { margin-top: 20px; display: block; float: left; }

/*------------------------------------------------------------------
[Post Types Slider]
-------------------------------------------------------------------*/

/* Post Types Slider > Caption */
.vcex-posttypes-slider .wpex-slider-caption { padding: 20px 25px; text-align: left; cursor: default; }
.wpex-slider-caption header { margin-bottom: 10px }
.vcex-posttypes-slider .wpex-slider-caption .staff-position { font-size: 11px; color: #ddd; font-weight: normal; text-transform: uppercase; letter-spacing: 1px; }
.vcex-posttypes-slider .wpex-slider-caption p:last-child { margin: 0 }
.vcex-posttypes-slider-meta { margin: -3px 0 10px }
.vcex-posttypes-slider .wpex-slider-caption.over-image .vcex-posttypes-slider-meta a { color: #999; text-decoration: underline; }
.vcex-posttypes-slider .wpex-slider-caption.over-image .vcex-posttypes-slider-meta a:hover { color: #aaa }

/* Post Types Slider > Caption > Over Image */
.vcex-posttypes-slider .wpex-slider-caption.over-image { position: absolute; bottom: 0; left: 0; width: 100%; background: rgba(0,0,0,0.85); }
.vcex-posttypes-slider .wpex-slider-caption.over-image .title { text-decoration: none }
.vcex-posttypes-slider .wpex-slider-caption.over-image .title:hover { text-decoration: underline }
.vcex-posttypes-slider .wpex-slider-caption.over-image a { color: #fff }
.vcex-posttypes-slider .wpex-slider-caption.over-image .excerpt { color: #999; line-height: 1.6; }

/* Post Types Slider > Caption > Under Image */
.vcex-posttypes-slider .wpex-slider-caption.under-image { padding: 20px 0 0 }
.vcex-posttypes-slider-w-thumbnails .wpex-slider-caption.under-image { padding-bottom: 20px }
.vcex-posttypes-slider .wpex-slider-caption.under-image .title { color: #000 }
.vcex-posttypes-slider .wpex-slider-caption.under-image .staff-position { color: #999 }

/* Post Types Slider > Woo Price */
.slider-woocommerce-price { position: absolute; top: 20px; right: 20px; color: #fff; background: #7CC576; padding: 3px 10px; border-radius: 3px; }
.slider-woocommerce-price ins { text-decoration: none !important }

/* Post Types Slider > Responsive */
@media only screen and (max-width: 767px) { 
    .wpex-responsive .vcex-posttypes-slider .wpex-slider-caption.over-image { position: relative; bottom: auto; background: #000; }
}

/*------------------------------------------------------------------
[Icons]
-------------------------------------------------------------------*/
a:hover .vcex-icon { text-decoration: none; opacity: 0.8; }
.vcex-icon-float-center { float: none; display: block; margin: 0 auto; text-align: center; }
.vcex-icon-float-left { display: block; float: left; margin-right: 20px; }
.vcex-icon-float-right { display: block; float: right; margin-left: 20px; }

/*icon sizes*/
.vcex-icon.vcex-icon-xlarge { font-size: 100px; height: 180px; line-height: 180px; width: 180px; }
.vcex-icon.vcex-icon-large { font-size: 80px; height: 140px; line-height: 140px; width: 140px; }
.vcex-icon.vcex-icon-normal { font-size: 40px; height: 70px; line-height: 70px; width: 70px; }
.vcex-icon.vcex-icon-small { font-size: 20px; height: 35px; line-height: 35px; width: 35px; }
.vcex-icon.vcex-icon-tiny { font-size: 0.923em; height: 25px; line-height: 25px; width: 25px; }

/*other*/
.vcex-icon.remove-dimensions { height: auto; width: auto; margin: auto; line-height: normal; }
.vcex-icon.has-bg span { text-align: center }

/*custom icon size*/
.vcex-icon.has-bg .vcex-icon-wrap { display: inline-block; height: auto; width: auto; line-height: 1; padding: 20px; }
.vcex-icon.remove-padding .vcex-icon-wrap { padding: 0 !important }

/*------------------------------------------------------------------
[Icon Boxes]
-------------------------------------------------------------------*/

/* Icon Boxes > General */
.vcex-icon-box { position: relative; display: block !important; }
.vcex-icon-box-css-wrap { display: block !important }
.vcex-icon-box p { margin: 0 0 10px }
.vcex-icon-box p:last-child { margin: 0 }
.vcex-icon-box-heading { display: block; font-size: 1.077em; font-weight: 600; margin: 0 0 10px; }
.vcex-icon-box-link { text-decoration: none !important }
.vcex-icon-box-icon.vcex-icon-box-w-bg { text-align: center; vertical-align: middle; padding: 15px; }
.vcex-icon-box-icon * { color: inherit }
.vcex-icon-box-link-wrap { display: block; text-decoration: none !important; }
.vcex-icon-box-link-wrap,
.vcex-icon-box-link-wrap .vcex-icon-box-content { color: #555 }
.vcex-icon-box-icon { font-size: 24px; color: #000; display: inline; display: inline-block; zoom: 1; line-height: 1; }

/* Icon Boxes > Style 1 : Left Icon */
.vcex-icon-box-one { padding-left: 50px }
.vcex-icon-box-one.vcex-icon-box-wo-icon { padding-left: 0 }
.vcex-icon-box-one.vcex-icon-box-w-bg { padding-left: 80px }
.vcex-icon-box-one.vcex-icon-box-wo-icon.vcex-icon-box-w-bg { padding-left: 15px }
.vcex-icon-box-one .vcex-icon-box-icon { position: absolute; left: 0; top: 0; font-size: 28px; }
.vcex-icon-box-one .vcex-icon-box-image { position: absolute; left: 0; top: 0; display: block; }

/* Icon Boxes > Style 7 : Right Icon */
.vcex-icon-box-seven { padding-right: 50px; text-align: right; }
.vcex-icon-box-seven.vcex-icon-box-wo-icon { padding-right: 0 }
.vcex-icon-box-seven.vcex-icon-box-w-bg { padding-right: 80px }
.vcex-icon-box-seven.vcex-icon-box-wo-icon.vcex-icon-box-w-bg { padding-left: 15px }
.vcex-icon-box-seven p { margin: 0 0 10px }
.vcex-icon-box-seven .vcex-icon-box-icon { position: absolute; right: 0; top: 0; font-size: 28px; }
.vcex-icon-box-seven .vcex-icon-box-icon.vcex-icon-box-w-bg { padding: 15px }
.vcex-icon-box-seven .vcex-icon-box-image { position: absolute; right: 0; top: 0; display: block; }

/* Icon Boxes > Style 2 : Top Icon */
.vcex-icon-box-two { text-align: center; margin-bottom: 30px; }
.vcex-icon-box-two .vcex-icon-box-icon { font-size: 26px; margin: 0 0 20px; display: inline-block; }
.vcex-icon-box-two .vcex-icon-box-image { display: block; margin: 0 auto 20px; }
.vcex-icon-box-two.align-left .vcex-icon-box-image,
.vcex-icon-box-two.align-right .vcex-icon-box-image { display: inline-block }

/* Icon Boxes > Style 3 : Legacy */
.vcex-icon-box-three { text-align: center }
.vcex-icon-box-three .vcex-icon-box-icon { height: 80px; line-height: 80px; width: 80px; font-size: 24px; margin: 0 auto 30px; border-radius: 50%; padding: 0; }
.vcex-icon-box-three .vcex-icon-box-link:hover .vcex-icon-box-icon { opacity: 0.85 }
.vcex-icon-box-three .vcex-icon-box-image { display: block; margin: 0 auto 20px; }

/* Icon Boxes > Style 4 : Legacy */
.vcex-icon-box-four { position: relative; text-align: center; padding: 30px; border: 1px solid #eee; }
.vcex-icon-box-four p { margin: 0 0 10px }
.vcex-icon-box-four .vcex-icon-box-icon { font-size: 28px; margin: 0 0 20px; color: #4d4d4d; }
.vcex-icon-box-four .vcex-icon-box-image { display: block; margin: 0 auto 20px; }
.vcex-icon-box-four .vcex-icon-box-content { margin-top: 15px }
.vcex-icon-box-four.vcex-icon-box-link-wrap:hover { border-color: transparent }
.vcex-icon-box-four.vcex-icon-box-link-wrap:hover .vcex-icon-box-link,
.vcex-icon-box-four.vcex-icon-box-link-wrap:hover .vcex-icon-box-heading,
.vcex-icon-box-four.vcex-icon-box-link-wrap:hover .vcex-icon-box-icon,
.vcex-icon-box-four.vcex-icon-box-link-wrap:hover .vcex-icon-box-content { color: #fff !important }

/* Icon Boxes > Style 5 : Legacy */
.vcex-icon-box-five { text-align: center; padding: 30px; background-color: #f7f7f7; }
.vcex-icon-box-five p { margin: 0 0 10px }
.vcex-icon-box-five .vcex-icon-box-icon { font-size: 32px; margin: 0 0 20px; color: #4d4d4d; }
.vcex-icon-box-five .vcex-icon-box-image { display: block; margin: 0 auto 20px; }
.vcex-icon-box-five .vcex-icon-box-content { margin-top: 15px }
.vcex-icon-box-five.vcex-icon-box-link-wrap:hover .vcex-icon-box-link,
.vcex-icon-box-five.vcex-icon-box-link-wrap:hover .vcex-icon-box-heading,
.vcex-icon-box-five.vcex-icon-box-link-wrap:hover .vcex-icon-box-icon,
.vcex-icon-box-five.vcex-icon-box-link-wrap:hover .vcex-icon-box-content { color: #fff !important }

/* Icon Boxes > Style 6 : Legacy */
.vcex-icon-box-six { text-align: center; padding: 30px; background-color: #000; transition: all .2s ease-in-out; position: relative; color: #fff; }
.vcex-icon-box-six p { margin: 0 0 10px; color: #fff; }
.vcex-icon-box-six-link { text-decoration: none !important; color: #555; padding: 30px; display: block; }
.vcex-icon-box-six .vcex-icon-box-icon { font-size: 32px; margin: 0 0 20px; color: #fff; }
.vcex-icon-box-six .vcex-icon-box-image { display: block; margin: 0 auto 20px; }
.vcex-icon-box-six .vcex-icon-box-heading { font-size: 0.923em; text-transform: uppercase; letter-spacing: 2px; color: #fff; }
.vcex-icon-box-six.vcex-icon-box-link-wrap:hover { position: relative; top: -10px; box-shadow: 0 5px 15px rgba(0,0,0,0.25); }

/*------------------------------------------------------------------
[Testimonials Slider]
-------------------------------------------------------------------*/

/* Testimonials Slider > Main */
.vcex-testimonials-fullslider { padding: 40px 0 }
.vcex-testimonials-fullslider-author { margin: 20px 0 5px }
.vcex-testimonials-fullslider-avatar { margin-bottom: 20px }
.vcex-testimonials-fullslider-avatar img { width: 70px; height: 70px; margin: 0 auto; display: block; border-radius: 50%; box-shadow: none !important; }
.container.full-screen .container .entry.container { width: 100% !important }

/* Testimonials Slider > Dots */
.vcex-testimonials-fullslider .sp-buttons { position: relative; top: auto; left: auto; text-align: center; margin: 0 !important; }
.vcex-testimonials-fullslider .sp-button { display: inline-block; height: 12px; width: 12px; margin-left: 5px; margin-right: 0; cursor: pointer; border-radius: 50%; background: #ddd; border: 0; }
.vcex-testimonials-fullslider .sp-button:first-child { margin-left: 0 }

/* Testimonials Slider > Arrows */
.vcex-testimonials-fullslider.has-arrows .entry { padding-left: 100px; padding-right: 100px; }
.vcex-testimonials-fullslider.has-arrows .sp-arrow { font-size: 34px; color: #ccc; background: none; border-radius: 50%; height: 50px; line-height: 50px; width: 50px; }
.vcex-testimonials-fullslider.has-arrows .sp-arrow:hover { color: #000 }

/* Testimonials Slider > Thumbnails */
.vcex-testimonials-fullslider.has-thumbs .sp-nc-thumbnails { text-align: center; padding-top: 20px; width: 100% !important; }
.vcex-testimonials-fullslider.has-thumbs .sp-nc-thumbnail-container { display: inline-block; float: none; }

/* Testimonials Slider > Light Skin */
.vcex-testimonials-fullslider.light-skin * { color: #fff }
.vcex-testimonials-fullslider.light-skin .sp-button { background: #fff; opacity: 0.6; }
.vcex-testimonials-fullslider.light-skin .sp-button:hover,
.vcex-testimonials-fullslider.light-skin .sp-selected-button { background: #fff; opacity: 1; }
.vcex-testimonials-fullslider.light-skin .sp-arrow { color: #fff; opacity: 0.8; }
.vcex-testimonials-fullslider.light-skin .sp-arrow:hover { opacity: 1; color: #fff; }

/*------------------------------------------------------------------
[Post Type Grid]
-------------------------------------------------------------------*/

/* Post Type Grid > Main */
.vcex-post-type-entry-details { padding: 15px; border: 1px solid #eee; }
.vcex-post-type-entry-media { margin: 0; position: relative; overflow: hidden; }
.vcex-post-type-entry-media img { display: block; margin: 0 auto; }
.vcex-post-type-entry-date { font-size: 0.923em; color: #777; list-style: none; margin: 0 0 5px; }
.vcex-post-type-entry-excerpt p:last-child { margin: 0 }
.vcex-post-type-entry-readmore-wrap { padding-top: 15px }

/* Post Type Grid > No Margins Grid */
.vcex-post-type-grid.vcex-no-margin-grid .vcex-post-type-entry-details { background: #262626; border: none; color: #787878; }
.vcex-post-type-grid.vcex-no-margin-grid .vcex-post-type-entry-title a { color: #fff }

/*------------------------------------------------------------------
[Blog Grid]
-------------------------------------------------------------------*/

/* Blog Grid > Main */
.vcex-blog-entry-details { padding: 20px; border: 1px solid #eee; }
.vcex-blog-entry-media { margin: 0 0 -1px; position: relative; }
.vcex-blog-entry-media img { display: block; width: 100%; }
.vcex-blog-entry-excerpt p:last-child { margin: 0 }
.vcex-blog-entry-date { font-size: 0.923em; color: #777; list-style: none; margin: 0 0 5px; }
.vcex-blog-entry-details .theme-button { font-size: 0.923em }
.vcex-blog-entry-excerpt p:last-child { margin: 0 }
.vcex-blog-entry-readmore-wrap { padding-top: 15px }

/*------------------------------------------------------------------
[Image Grid]
-------------------------------------------------------------------*/
.vcex-image-grid.grid-style-no-margins .col { margin: 0 }
.vcex-image-grid-entry-img { position: relative; display: block; margin: 0 auto; text-align: center; }
.vcex-image-grid-entry img { display: inline-block; vertical-align: bottom; }
.vcex-image-grid-entry > a { display: block; margin: 0 auto; }
.vcex-image-grid-entry-title { margin: 10px 0 0; text-align: center; }
.vcex-image-grid-entry-title h2,
.vcex-image-grid-entry-title h3,
.vcex-image-grid-entry-title h4 { margin: 0 }
.vcex-image-grid-entry-title p:last-child { margin: 0 }
.vcex-image-grid.grid-style-no-margins .vcex-image-grid-entry-title { position: absolute; bottom: 0; left: 0; background: #000; background: rgba(0,0,0,0.8); color: #fff; padding: 10px; text-align: center; width: 100%; }
.vcex-image-grid.grid-style-no-margins .vcex-image-grid-entry-title a { color: #fff }
.vcex-image-grid-video-overlay { position: absolute; bottom: 0; right: 0; height: 30px; line-height: 30px; width: 30px; text-align: center; color: #fff; font-size: 12px; background: #000; background: rgba(0,0,0,0.8); }

/*------------------------------------------------------------------
[Teaser Boxes]
-------------------------------------------------------------------*/
.vcex-teaser { display: block !important; margin-bottom: 30px; }
.vcex-teaser-content { padding-top: 20px }
.vcex-teaser-text { margin: 10px 0 0 }

/*------------------------------------------------------------------
[Milestones]
-------------------------------------------------------------------*/
.vcex-milestone,
a.vcex-milestone { display: block !important; margin: 0 auto; text-align: center; }
a.vcex-milestone,
a.vcex-milestone:hover { text-decoration: none }
.vcex-milestone-number { font-weight: 600; font-size: 54px; color: #bcbcbc; line-height: 1em; }
.vcex-milestone-caption { font-size: 1.231em; font-weight: 300; color: #898989; margin-top: 5px; }

/*------------------------------------------------------------------
[Typography styles]
-------------------------------------------------------------------*/

/*icon boxes*/
.vcex-skin-light .vcex-icon-box-three .vcex-icon-box-three-icon { background: #fff; color: #4d4d4d; }
.vcex-skin-light .vcex-icon-box-four { border-color: #fff }
.vcex-skin-light .vcex-icon-box-four .vcex-icon-box-four-icon { color: #fff }
.vcex-skin-light .vcex-icon-box-four.vcex-icon-hover-enabled:hover { background: #000; background: rgba(0,0,0,0.5) !important; border-color: rgba(0,0,0,0.5); }
.vcex-skin-light .vcex-icon-box-five { background: #000; background: rgba(0,0,0,0.5) !important; }
.vcex-skin-light .vcex-icon-box-five .vcex-icon-box-five-icon { color: #fff }

/*teasers*/
.vcex-skin-light .vcex-teaser-two { background-color: #000; background-color: rgba(0,0,0,0.25); border-color: rgba(0,0,0,0.1); }
.vcex-skin-light .vcex-teaser-three .vcex-teaser-content { background-color: #000; background-color: rgba(0,0,0,0.25); border-color: rgba(0,0,0,0.1); }

/*------------------------------------------------------------------
[Image Swap]
-------------------------------------------------------------------*/
.vcex-image-swap { position: relative; overflow: hidden; display: block; margin: 0 auto; }
.vcex-image-swap-link { display: block }
.vcex-image-swap img { display: block; transition: opacity 0.25s ease-in-out; backface-visibility: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; width: 100%; height: 100%; overflow: hidden; }
.vcex-image-swap-secondary { z-index: 1; position: absolute; top: 0; left: 0; overflow: hidden; }
.vcex-image-swap-primary { z-index: 2; position: relative; }
.vcex-image-swap:hover .vcex-image-swap-primary { opacity: 0 }

/*------------------------------------------------------------------
[Navbar]
-------------------------------------------------------------------*/

/* Navbar > Main */
.vcex-navbar a { display: block; float: left; }
.vcex-navbar a .fa { margin-right: 7px }
.vcex-navbar a:hover { text-decoration: none }
.vcex-navbar a.has-bg-hover:hover { border-color: inherit }

/* Navbar > Buttons */
.vcex-navbar.style-buttons a { margin: 0 5px 5px 0 }

/* Navbar > Simple */
.vcex-navbar.style-simple a { display: inline-block; margin-right: 5px; }
.vcex-navbar.style-simple a:hover { text-decoration: underline }

/* Navbar > Alignments */
.vcex-navbar.align-right a { float: right; margin-left: 5px; margin-right: 0; }
.vcex-navbar.align-left a { float: left }
.vcex-navbar.align-center { text-align: center }
.vcex-navbar.align-center a { float: none; display: inline-block; }

/*------------------------------------------------------------------
[Feature Box]
-------------------------------------------------------------------*/
.vcex-feature-box-media { display: block; width: 50%; }

/* Feature Box > Left Image + Right content */
.vcex-feature-box.left-image-right-content .vcex-feature-box-media { float: left }
.vcex-feature-box.left-image-right-content .vcex-feature-box-content { float: right; padding-left: 30px; }

/* Feature Box > Right Image + Left Content */
.vcex-feature-box.left-content-right-image .vcex-feature-box-media { float: right }
.vcex-feature-box.left-content-right-image .vcex-feature-box-content { float: left; padding-right: 30px; }

/* Feature Box > Media */
.vcex-feature-box-image-link { overflow: hidden }
.vcex-feature-box-image-link,
.vcex-feature-box-media .vcex-feature-box-image img { display: block; margin: 0 auto; }

/* Feature Box > Content */
.vcex-feature-box-content { display: block; width: 50%; }
.vcex-feature-box-content p:last-child { margin: 0 }

/* Feature Box > Heading */
.vcex-feature-box-heading { margin: 0 0 20px; font-size: 1.231em; color: #000; }
.vcex-feature-box-content .vcex-feature-box-heading-link { text-decoration: none }

/* Feature Box > Equal Heights */
.vcex-feature-box-match-height .vcex-feature-box-media { position: relative; overflow: hidden; }
.vcex-feature-box-match-height .vcex-feature-box-image { position: absolute; top: 0; left: 0; height: 100%; width: 100%; }
.vcex-feature-box-match-height .vcex-feature-box-image img { max-width: none }

/*------------------------------------------------------------------
[Social Links]
-------------------------------------------------------------------*/
.vcex-social-links { display: block; font-size: 1.231em; color: #555; border-radius: 4px; }
.vcex-social-links a { display: inline-block; padding: 10px; line-height: 1; text-align: center; background: #eee; color: inherit; border-radius: inherit; margin-right: 3px; margin-bottom: 5px; transition: 0.15s all; }
.vcex-social-links a:hover { color: #fff }

/*------------------------------------------------------------------
[Heading]
-------------------------------------------------------------------*/
.vcex-heading { display: block; font-size: 21px; color: #000; }
a.vcex-heading:hover { text-decoration: none }

/* Heading > Bottom Bordeer */
.vcex-heading-bottom-border-w-color { padding-bottom: 0; border-bottom: 1px solid #e4e4e4; }
.vcex-heading-bottom-border-w-color .vcex-heading-inner { display: inline-block; padding-bottom: 6px; border-bottom: 2px solid transparent; position: relative; bottom: -1px; }

/* Heading > Graphical  */
.vcex-heading-graphical { padding: 10px 15px; border: 1px solid #e4e4e4; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background: #f7f7f7; background: -webkit-linear-gradient(#f7f7f7,#eee); background: -moz-linear-gradient(#f7f7f7,#eee); background: -o-linear-gradient(#f7f7f7,#eee); background: linear-gradient(#f7f7f7,#eee); background-repeat: no-repeat; box-shadow: inset 0 1px 1px #fff; }

/*------------------------------------------------------------------
[Acccent Color]
-------------------------------------------------------------------*/

/* Accent > #3b86b0 > Background */
.vcex-skillbar-bar,
.vcex-icon-box-five.vcex-icon-box-link-wrap:hover,
.vcex-icon-box-four.vcex-icon-box-link-wrap:hover,
.vcex-recent-news-date span.month,
.vcex-pricing.featured .vcex-pricing-header,
.vcex-testimonials-fullslider .sp-button:hover,
.vcex-testimonials-fullslider .sp-selected-button,
.vcex-social-links a:hover { background-color: #3b86b0; color: #fff; }

/* Accent > #3b86b0 > Borders */
.vcex-heading-bottom-border-w-color .vcex-heading-inner { border-bottom-color: #3b86b0; }
