/*--------------------------------------------------------------
 
 Project   : Limestone WordPress Theme
 Purpose   : Tribe Events Calendar Plugin tweaks
 Author    : Evpro
 Theme URI : http://www.evpro.com.au

------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]
-------------------------------------------------------------------*/
body #wrap #tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title,
#tribe-events-content .tribe-events-tooltip h4 { font-weight: inherit; font-weight: bold; font-weight: 600; }

/*------------------------------------------------------------------
[Button Colors]
-------------------------------------------------------------------*/
#tribe-events .tribe-events-button,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type=submit],
.tribe-events-button,
.tribe-events-button.tribe-active:hover,
.tribe-events-button.tribe-inactive,
.tribe-events-button:hover,
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a { font-weight: 600; }

/*------------------------------------------------------------------
[Notices]
-------------------------------------------------------------------*/
.tribe-events-notices { margin-top: 0; margin-bottom: 40px; text-align: center; font-size: 1.077em; }

/*------------------------------------------------------------------
[Calendar]
-------------------------------------------------------------------*/
h2.tribe-events-page-title { margin-top: 0; font-weight: bold; font-weight: 600; }
.tribe-events-calendar thead th { font-weight: bold; font-weight: 600; }
#tribe-events-footer .tribe-events-sub-nav a,
#tribe-events-header .tribe-events-sub-nav a { font-weight: normal; font-size: 1em; }
#tribe-events-footer .tribe-events-sub-nav a:hover,
#tribe-events-header .tribe-events-sub-nav a:hover { text-decoration: underline; }
#tribe-events-footer .tribe-events-sub-nav { padding-top: 10px; }
#tribe-bar-form .tribe-bar-submit input[type=submit] { font-weight: bold; font-weight: 600; }

/*------------------------------------------------------------------
[Events List]
-------------------------------------------------------------------*/
.tribe-events-list .tribe-events-event-cost span { background-color: #f7f7f7; color: #777; border-color: #eee; font-weight: normal; }
.tribe-events-list-separator-month:after { border-color: #eee; }
.tribe-events-list-separator-month { color: #777; font-weight: 600; }

/*------------------------------------------------------------------
[Single Events]
-------------------------------------------------------------------*/
.single-tribe_events #tribe-events-content { margin-bottom: 0; }
.single-tribe_events .tribe-events-event-meta { background-color: #f7f7f7; font-size: 1em; }
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt { color: #222; font-weight: 600; }
.tribe-events-meta-group .tribe-events-single-section-title { margin: 30px 0 15px; padding-bottom: 10px; border-bottom: 1px solid #ddd; text-transform: uppercase; font-weight: 600; font-size: 1.077em; letter-spacing: 1px; }
.single-tribe_events #tribe-events-content .tribe-events-event-meta dd { margin-bottom: 15px; }

.tribe-events-back { display: none; }

.events-list #tribe-events-footer, .single-tribe_events #tribe-events-footer, .tribe-events-day #tribe-events-footer, .tribe-events-map #tribe-events-footer, .tribe-events-photo #tribe-events-footer { border-color: #eee; }

.single-tribe_events .tribe-events-schedule .tribe-events-divider { color: #ddd; }

.single-tribe_events .tribe-events-schedule h3,
.single-tribe_events .tribe-events-schedule { color: #767676; font-weight: normal; }

/*------------------------------------------------------------------
[Accent Colors]
-------------------------------------------------------------------*/

/* Accent > #3b86b0 > Background */
#tribe-events .tribe-events-button,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type=submit],
.tribe-events-button,
.tribe-events-button.tribe-active:hover,
.tribe-events-button.tribe-inactive,
.tribe-events-button:hover,
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a { background-color: #3b86b0; }
