#wpex-metabox .wp-tab-panel { display: none; }
#wpex-metabox .wp-tab-panel#wpex-mb-tab-1 { display: block; }

#wpex-metabox .wp-tab-panel { max-height: none !important; }
#wpex-metabox ul.wp-tab-bar { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

#wpex-metabox ul.wp-tab-bar { padding-top: 5px; }
#wpex-metabox ul.wp-tab-bar:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; zoom: 1; }
#wpex-metabox ul.wp-tab-bar li { padding: 5px 12px; font-size: 14px; }
#wpex-metabox ul.wp-tab-bar li a:focus { box-shadow: none; }

#wpex-metabox .inside .form-table tr { border-top: 1px solid #dfdfdf; }
#wpex-metabox .inside .form-table tr:first-child { border: none; }
#wpex-metabox .inside .form-table th { width: 240px; padding: 10px 30px 10px 0; }
#wpex-metabox .inside .form-table td { padding: 10px 0; }

#wpex-metabox .inside .form-table label { display: block; }
#wpex-metabox .inside .form-table th label span { margin-right: 7px; }

#wpex-metabox .wpex-mb-uploader { margin-left: 5px; }

#wpex-metabox .inside .form-table th p.wpex-mb-description { font-size: 12px; font-weight: normal; margin: 0; padding: 0; padding-top: 4px; }

#wpex-metabox .inside .form-table input[type="text"],
#wpex-metabox .inside .form-table input[type="number"],
#wpex-metabox .inside .form-table .wpex-mb-textarea-code { width: 40%; }
#wpex-metabox .inside .form-table textarea { width: 100% }
#wpex-metabox .inside .form-table select { min-width: 40%; }

#wpex-metabox .wpex-mb-reset { margin-top: 7px; }
#wpex-metabox .wpex-mb-reset .wpex-reset-btn { display: block; float: left; }
#wpex-metabox .wpex-mb-reset .wpex-reset-checkbox { float: left; display: none; margin-left: 10px; padding-top: 5px; }
