/*--------------------------------------------------------------
 
 Project   : Limestone WordPress Theme
 Purpose   : Modern iLightbox Skin - custom skin for Limestone (COMING SOON)
 Author    : Evpro
 Theme URI : http://www.evpro.com.au

/*------------------------------------------------------------------
[Table of contents]

1. Main
2. Loader
3. Title
4. Caption
5. Toolbar
6. Mobile toolbar
7. Thumbnails
8. Arrow buttons
9. Horizontal scroll
10. Social Links
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Main]
-------------------------------------------------------------------*/
.ilightbox-overlay.modern {
    background: #000;
    opacity: 0.7 !important;
}
.ilightbox-holder.modern .ilightbox-container {
    border: 10px solid #fff;
}
.ilightbox-holder .ilightbox-inner-toolbar {
    padding: 0 20px;
}

/*------------------------------------------------------------------
[2. Loader]
-------------------------------------------------------------------*/
.ilightbox-loader.modern {
    background-color: transparent;
}
.ilightbox-loader.modern div {
    background-color: transparent;
    background: url('preloader.gif') no-repeat center;
}

/*------------------------------------------------------------------
[3. Title]
-------------------------------------------------------------------*/
.ilightbox-holder.modern .ilightbox-inner-toolbar .ilightbox-title {
    font-size: 14px;
    padding: 20px 10px 0 0;
    padding-right: 60px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}
.ilightbox-holder.modern .ilightbox-inner-toolbar .ilightbox-toolbar {
    left: auto;
    top: 5px;
    right: 5px;
}
.ilightbox-holder.modern .ilightbox-inner-toolbar .ilightbox-toolbar a {
    float: right;
}

/*------------------------------------------------------------------
[4. Caption]
-------------------------------------------------------------------*/
.ilightbox-holder.modern .ilightbox-container .ilightbox-caption {
    background: #fff;
    background: rgba(255,255,255,0.85);
    font-size: 1.077em;
    display: block !important;
    opacity: 1 !important;
    color: #fff;
    border-radius: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    color: #000;
    margin: 0 20px;
    bottom: 20px;
    transition: all 0.3s;
}
.isMobile .ilightbox-holder.modern .ilightbox-container .ilightbox-caption {
    font-size: 1em;
}

/*------------------------------------------------------------------
[5. Toolbar]
-------------------------------------------------------------------*/
.ilightbox-toolbar.modern {
    top: 0;
    right: 10px;
}
.ilightbox-toolbar.modern a {
    float: right;
    width: 44px;
    height: 44px;
    opacity: 0.3;
    transition: opacity 0.1s;
}
.ilightbox-toolbar.modern a:hover { opacity: 1 }
.ilightbox-toolbar.modern a.ilightbox-close {
    background: url(skin.png) 0 0 no-repeat;
    background-position: 0 -44px;
}
.ilightbox-toolbar.modern a.ilightbox-fullscreen {
    background: url(skin.png) 0 0 no-repeat;
    background-position: 0 0;
}
.ilightbox-toolbar.modern a.disabled {
    opacity: 0.15 !important;
    cursor: default;
}

/*------------------------------------------------------------------
[6. Mobile toolbar]
-------------------------------------------------------------------*/
.isMobile .ilightbox-toolbar.modern {
    background: #f9f9f9;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    text-align: center;
}
.isMobile .ilightbox-toolbar.modern a {
    display: inline-block;
    float: none;
    width: 44px;
    height: 44px;
    background-image: url(skin.png);
    opacity: 0.3;
    transition: opacity 0.1s;
}
.isMobile .ilightbox-toolbar.modern a:hover {
    opacity: 1;
}
.isMobile .ilightbox-toolbar.modern a.ilightbox-fullscreen {
    background-position: 0 0;
}
.isMobile .ilightbox-toolbar.modern a.ilightbox-next-button {
    background-position: -90px -44px;
}
.isMobile .ilightbox-toolbar.modern a.ilightbox-prev-button {
    background-position: -132px -44px;
}
.isMobile .ilightbox-toolbar.modern a.ilightbox-play,
.isMobile .ilightbox-toolbar.modern a.ilightbox-pause {
    display: none }

/*------------------------------------------------------------------
[7. Thumbnails]
-------------------------------------------------------------------*/
.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
    width: 100%;
    height: 100%;
}

/*------------------------------------------------------------------
[8. Arrow buttons]
-------------------------------------------------------------------*/
.ilightbox-button.modern.disabled {
    opacity: 0.15 !important;
    cursor: default;
}
.ilightbox-button.modern span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.3;
    transition: opacity 0.1s;
}
.ilightbox-button.modern span:hover {
    opacity: 1;
}
.ilightbox-button.modern {
    bottom: 0;
    nomodernspace: afterproperty;
    right: 0;
    left: 0;
    left: 45%\9;
    width: 95px;
    height: 75px;
    margin: auto;
}
.ilightbox-button.ilightbox-button.modern:hover {
    opacity: 1;
}
.ilightbox-button.ilightbox-prev-button.modern {
    top: 0;
    bottom: auto;
}
.ilightbox-button.modern span:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -16px;
    height: 30px;
    width: 32px;
    background: #fff url(skin.png) no-repeat;
}
.ilightbox-button.ilightbox-next-button.modern span:after {
    background-position: -226px -50px;
}
.ilightbox-button.ilightbox-prev-button.modern span:after {
    background-position: -182px -50px;
}

/*------------------------------------------------------------------
[9. Horizontal scroll]
-------------------------------------------------------------------*/
.ilightbox-button.modern.horizontal {
    right: 0;
    nomodernspace: afterproperty;
    left: auto;
    top: 0;
    bottom: 0;
    top: 41%\9;
    width: 75px;
    height: 95px;
}
.ilightbox-button.modern.horizontal span:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -16px;
    height: 30px;
    width: 34px;
    background-image: url(skin.png);
    background-repeat: no-repeat;
}
.ilightbox-button.ilightbox-next-button.modern.horizontal span:after {
    background-position: -95px -50px;
}
.ilightbox-button.ilightbox-prev-button.modern.horizontal {
    right: auto;
    left: 0;
}
.ilightbox-button.ilightbox-prev-button.modern.horizontal span:after {
    background-position: -137px -50px;
}

/*------------------------------------------------------------------
[10. Social Links]
-------------------------------------------------------------------*/
.isMobile .ilightbox-social {
    display: none !important;
}
.ilightbox-holder .ilightbox-container .ilightbox-social {
    display: block !important;
    right: 20px;
    left: auto;
    top: -10px;
    padding: 0;
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li a {
    background-image: none !important;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    opacity: 0.3;
    font-size: 16px;
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li a:hover {
    opacity: 1;
}
.ilightbox-social a:after {
    position: relative;
}
.ilightbox-social li.facebook a:after {
    content: "\f09a";
}
.ilightbox-social li.twitter a:after {
    content: "\f099";
}
.ilightbox-social li.googleplus a:after {
    content: "\f0d5";
}
.ilightbox-social li.pinterest a:after {
    content: "\f231";
}

/* FontAwesome */
.ilightbox-social li a:after {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
