/* General
--------------------------------------------------------------*/
body { background: #e6e6e6 }
#wrap .container { width: auto !important; padding-left: 30px; padding-right: 30px; }
.full-width-main-layout .center-row-inner { margin: 0 }
#site-navigation { padding: 0 }
#site-header,
#main { background: #fff }
#main { border: 1px solid #ddd }
#content-wrap.full-screen { padding-left: 0 !important; padding-right: 0 !important; }

/*page header*/
.page-header { border: none; background: none; padding: 0; }
.page-header-inner { padding-bottom: 40px; border-bottom: double #ddd; margin: 0 30px; padding: 30px 0 20px !important; }
.background-image-page-header .page-header-inner { border-bottom: none }

/*add spacings*/
.header-two #site-navigation,
.header-three #site-navigation,
#main, #footer-callout-wrap { margin-top: 20px }

/* Boxed Fixes
--------------------------------------------------------------*/
.boxed-main-layout { background-color: #e6e6e6 }
.boxed-main-layout #wrap { box-shadow: none; background: none; }
.boxed-main-layout .site-breadcrumbs { right: 0 }

/* Top Bar
--------------------------------------------------------------*/
#top-bar-wrap { background: #3b86b0; color: #cae0ed; border: none; margin: 0; }
#top-bar { border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
#top-bar-content a,
#top-bar-content a:hover { color: #cae0ed }
#top-bar-social a { color: #fff; opacity: 0.8; }
#top-bar-social a:hover { color: #fff; opacity: 1; }
#top-bar-content strong { color: #fff }

/* Header
--------------------------------------------------------------*/
#site-header { border: 0; }
#site-header-inner { border: 1px solid #ddd; border-top: none; }

/*search*/
#searchform-dropdown { right: -1px }
#searchform-header-replace { padding: 0 30px; }
#searchform-header-replace-close { right: 30px }
.boxed-main-layout #searchform-dropdown { right: 0; }

/*sticky header*/
.is-sticky #site-header { border: none }
.is-sticky .header-two #site-header-inner,
.is-sticky .header-three #site-header-inner { margin-top: 0 }
.is-sticky #site-navigation { margin-top: 0 }
.is-sticky .fixed-nav { background: none }
#site-header.fixed-header,
.is-sticky #site-header { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
body.shrink-fixed-header #site-header-sticky-wrapper.is-sticky .header-one #site-header-inner { border: none }
body.shrink-fixed-header #site-header-sticky-wrapper.is-sticky #site-header { border: 1px solid #ddd; border-top: none; }
.is-sticky .fixed-nav { border-bottom: none; background: #fff; }
.is-sticky .navbar-style-two,
.is-sticky .navbar-style-three { margin: 0 }

/* Overlay Header
--------------------------------------------------------------*/
@media only screen and (min-width: 960px) {
	body.has-overlay-header #site-header-inner { border: 0; }
	body.has-overlay-header #main { margin-top: 0; border-top: none; }
}

/* Navigation
--------------------------------------------------------------*/
#wrap .navbar-style-two .container,
#wrap .navbar-style-three .container { border: 1px solid #ddd; padding-left: 0; padding-right: 0; }
.navbar-style-two,
.navbar-style-three { background: #fff; margin-top: 20px; }
.navbar-style-two .dropdown-menu { border: none }
.navbar-style-two .dropdown-menu > li > a { padding: 0 30px }
.navbar-style-two .dropdown-menu > li { border-color: #eee }
.navbar-style-two .dropdown-menu > li a:hover { background: #f7f7f7 }
.navbar-style-one .dropdown-menu a:hover,
.navbar-style-two .dropdown-menu a:hover,
.navbar-style-three .dropdown-menu a:hover,
.navbar-style-one .dropdown-menu ul a:hover,
.navbar-style-two .dropdown-menu ul a:hover,
.navbar-style-three .dropdown-menu ul a:hover,
.navbar-style-one .dropdown-menu > .current-menu-item > a,
.navbar-style-two .dropdown-menu > .current-menu-item > a,
.navbar-style-three .dropdown-menu > .current-menu-item > a { color: #3b86b0 }
.sf-menu > li.megamenu > ul.sub-menu { margin-top: -1px; }

/* Footer
--------------------------------------------------------------*/
#footer { margin-top: 30px }
#footer-callout-wrap { border: 1px solid #ddd }
#site-scroll-top { bottom: 60px }
.navbar-style-one,
#footer-bottom-menu { right: 30px }

/*no unfolding footer please*/
body.footer-has-reveal #main { margin-bottom: 0 !important }
.footer-reveal { position: inherit }

/* Social Share
--------------------------------------------------------------*/
.wpex-social-share.style-minimal li a,
.wpex-social-share.position-vertical li:first-child { border-color: #ccc }
.wpex-social-share.position-vertical { left: -85px }

/* WooCommerce
--------------------------------------------------------------*/
.header-two #current-shop-items-dropdown,
.header-three #current-shop-items-dropdown { right: 0; }
