/* Hide hidden params*/
.vc_column.vc_edit-form-hidden-field-wrapper { padding-top: 0 !important; }

/* Make headings less bold */
.wpb_element_label, .vc_element_label { font-weight: 600; }

/* Move backend tabs down */
.composer-switch { margin-top:10px; } 

/* Remove branding */
.composer-switch .logo-icon { display: none !important; }
.composer-switch .vc_spacer { display: none !important; }
.composer-switch .wpb_switch-to-composer { border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-right: 1px solid #1f5b8c; }
.composer-switch a { box-shadow: none; }

/* Fix button padding */
.vc_welcome .vc_add-element-button,
.vc_welcome .vc_add-text-block-button,
.vc_default-templates #vc_templates-more-layouts { padding-right: 20px; }

/* Remove active shadow */
.vc_navbar a { box-shadow: none; }

/* Font Family */
.vc_modal-content { font-family: 'Open Sans', 'Helvetica Neue', Arial; }

/* Limestone Icons */
.vc_element-icon.vcex-icon { display: block; width: 32px !important; height: 32px !important; line-height: 32px !important; background: #0da8d1 !important; border-radius: 8px; text-align: center; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); }
.icon-wpb-woocommerce { background: #a46497 !important }
.vcex-icon:before { font-size: 14px; color: #fff; }

/* VC Icons */
.icon-wpb-wp,
.icon-wpb-woocommerce { background: #093459 !important; display: block; width: 32px !important; height: 32px !important; line-height: 32px !important; border-radius: 8px; text-align: center; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); font-size: 14px; color: #fff; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); }

/*.icon-wpb-row:before{content:"\f067";}*/
.icon-wpb-woocommerce:before{content:"\f07a";}
.icon-wpb-wp:before {content:"\f19a";}

.icon-wpb-wp{background:#21759b!important;font-size:18px;}
.icon-wpb-woocommerce{background:#a46497!important;}

/*pricing custom button height*/
.wpb-textarea_raw_html.custom_button {height:60px;}

/*dropdown colors*/
.readmore_style_color.black,
.filter_button_color.black { background: #333; color: #fff; }
.readmore_style_color.blue,
.filter_button_color.blue { background: #4a97c2; color: #fff; }
.readmore_style_color.grey,
.filter_button_color.grey { background: #bbb; color: #fff; }
.readmore_style_color.orange,
.filter_button_color.orange { background: #ee7836; color: #fff; }
.readmore_style_color.gold,
.filter_button_color.gold { background: #ddba00; color: #fff; }
.readmore_style_color.green,
.filter_button_color.green { background: #87bf17; color: #fff; }
.readmore_style_color.purple,
.filter_button_color.purple { background: #9a5e9a; color: #fff; }
.readmore_style_color.teal,
.filter_button_color.teal { background: #00b3b3; color: #fff; }
.readmore_style_color.pink,
.filter_button_color.pink { background: #f261c2; color: #fff; }
.readmore_style_color.brown,
.filter_button_color.brown { background: #804b35; color: #fff; }
.readmore_style_color.red,
.filter_button_color.red { background: #bf0a08; color: #fff; }
.readmore_style_color.rosy,
.filter_button_color.rosy { background: #b81265; color: #fff; }
