/*--------------------------------------------------------------
- General
--------------------------------------------------------------*/
body,
body.boxed-main-layout #wrap,
body.footer-has-reveal #main { background: #f6f6f6 }

body a:hover { text-decoration: none; color: #000; }
#site-scroll-top { background: #fff; border-color: #eee; color: #ddd; }
#site-scroll-top:hover { background: #81b65f; }
.search-entry-thumb { background: #fff; border-color: #ddd; }
.search-entry { border-color: #ddd; }
#login-template-form { background: #fff; border: 1px solid #ddd; border-radius: 4px; }

/* General > Headings */
h1, h2, h3, h4, h5, h6, #sidebar .widget-title, .footer-widget .widget-title { font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #000; }

/* General > Theme Heading */
.theme-heading { font-size: 1.231em; font-weight: normal; background: none; border-bottom: 1px solid #ddd; padding-bottom: 4px; }
.theme-heading span.text:after { display: none; }

/* General > WP Styles */
.gallery-caption { background: #fff; }

/* General > Social Sharing */
.wpex-social-share.position-horizontal.style-minimal a { background: #fff; border-radius: 3px; }

/* General > Buttons */
.theme-button.minimal-border:hover,
.active .theme-button.minimal-border,
.theme-button.minimal-border.active { background: #fff; }

/*--------------------------------------------------------------
- Forms
--------------------------------------------------------------*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea { border-color: #ddd; background-color: #fff; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
textarea:focus { background: #fff; border-color: #ccc; }

/*--------------------------------------------------------------
- Page Header
--------------------------------------------------------------*/
.page-header { background: #f1f1f1; padding-top: 25px; padding-bottom: 25px; border-color: #e4e4e4; box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.02); }
.page-header-title { font-size: 24px; font-weight: 600; }

/* Page Header > Breadcrumbs */
.site-breadcrumbs a { color: #666; }
.site-breadcrumbs a:hover { text-decoration: underline; }

/*--------------------------------------------------------------
- Toggle Bar
--------------------------------------------------------------*/
.toggle-bar-btn:hover { border-top-color: #444; border-right-color: #444; color: #fff; }

/*--------------------------------------------------------------
- Header
--------------------------------------------------------------*/

/* Header > Main */
#site-header { background: #fff; }

/* Header > Aside */
.header-two-aside { color: #aaa }

/* Header > Search */
#searchform-header-replace input,
#searchform-header-replace-close { color: #8b8b8b }

/* Header > Sticky */
.is-sticky #site-header { border-bottom: 1px solid #ddd; box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12); }

/*--------------------------------------------------------------
- Top Bar
--------------------------------------------------------------*/
#top-bar-wrap { border: none; color: #fff; background: #78b153; margin-bottom: 0; }
#top-bar-content strong { color: #fff; font-weight: 400; }
#top-bar-wrap a { color: #ddebd4 }
#top-bar-wrap a:hover { text-decoration: underline; color: #fff; }
#top-bar-social a.wpex-social-btn-no-style { color: #fff; opacity: 0.6; }
#top-bar-social a.wpex-social-btn-no-style:hover { color: #fff; opacity: 1; }

/*--------------------------------------------------------------
- Navigation
--------------------------------------------------------------*/
#mobile-menu a:hover { border-color: transparent; }

/* Navigation > Dropdown Border */
.navbar-style-one .dropdown-menu ul { border-color: #ddd; }
.navbar-style-one .dropdown-menu ul:before { border-bottom-color: rgba(0,0,0,0.28); }

/* Navigation > One */
.navbar-style-one .dropdown-menu > .current-menu-item > a,
.navbar-style-one .dropdown-menu > .current-menu-parent > a,
.navbar-style-one .dropdown-menu > .current-menu-item > a:hover { color: #000; font-weight: 600; }
.navbar-style-one .dropdown-menu > .current-menu-item > a:after { background: #78b153 }
.navbar-style-one .wcmenucart-toggle-dropdown.current-menu-item a { font-weight: 400; color: #78b153; border: none; }
.navbar-style-one .search-toggle-li.current-menu-item a { font-weight: 400; color: #78b153; border: none; }

/* Navigation > Accent */
#site-navigation .dropdown-menu > li.sfHover > a,
#site-navigation .dropdown-menu > li > a:hover,
#site-navigation .dropdown-menu a:hover,
#site-navigation .dropdown-menu > .current-menu-parent > a,
#site-navigation .dropdown-menu > .current-menu-item > a { color: #78b153 }

/*--------------------------------------------------------------
- Blog
--------------------------------------------------------------*/
.meta a { color: #444 }
.single-post .meta { border-color: #ddd }
#single-post-next-prev { top: 10px }
.related-post-content { background: none; border: none; padding: 0; }
.related-post-title { margin-top: 15px }
.related-post-title:hover { color: #81b65f }
.related-posts img:hover { opacity: 0.75 }
.blog-entry.thumbnail-entry-style .meta { margin-top: 20px }

/*masonry blog*/
.blog-entry.grid-entry-style .blog-entry-inner { background: #fff; border: 1px solid #e4e4e4; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }

/*blog borders*/
.blog-entry.large-image-entry-style,
.blog-entry.thumbnail-entry-style { border-color: #ddd }

/*quote format*/
.blog-entry.large-image-entry-style.format-quote,
.blog-entry.thumbnail-entry-style.format-quote { background: #fff; border: 1px solid #ddd; border-radius: 4px; }
.blog-entry.grid-entry-style.format-quote .post-quote-entry-inner { background: #fff; border: 1px solid #ddd; border-radius: 4px; }

/*author bio*/
.author-bio { border: 1px solid #ddd; background: #fff; }

/*social share*/
.wpex-social-share.position-vertical.style-minimal a { background: #fff }
.wpex-social-share.position-vertical.style-minimal a:hover { background: #f1f1f1 }
body.boxed-main-layout .wpex-social-share.position-vertical.style-minimal li,
body.boxed-main-layout .wpex-social-share.position-vertical.style-minimal a { border-color: #ccc }

/*post series*/
#post-series-title { background: #78b153; color: #fff; border: none; }
#post-series { background: #fff; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#post-series a { color: #000 }
#post-series a:hover { color: #78b153 }

/*--------------------------------------------------------------
- Comments
--------------------------------------------------------------*/
.comment-author { background: #fff; border: 1px solid #e4e4e4; border-radius: 4px; }
.comment-details { background: #fff; border: 1px solid #e4e4e4; padding: 20px; border-radius: 4px; }

/*--------------------------------------------------------------
- Sidebar
--------------------------------------------------------------*/
#sidebar .sidebar-box ul li a:before,
#sidebar .widget-recent-posts-icons li .fa { color: #989898 }

/*--------------------------------------------------------------
- Widgets
--------------------------------------------------------------*/

/* Widgets > Calendar */
#wp-calendar caption { background: #78b153; color: #fff; }
#main #wp-calendar th,
#main #wp-calendar td:hover { background: #fff }

/* Widgets > Tags */
#main .tagcloud a,
.post-tags a { color: #444; border: 1px solid #e4e4e4; background: #fff; transition: all 0.15s ease; -webkit-transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; border-radius: 3px; }
#main .tagcloud a:hover,
.post-tags a:hover { border-color: transparent; }

/* Widgets > Borders */
#sidebar .woocommerce ul.product_list_widget li,
#sidebar .woocommerce .widget_shopping_cart .cart_list li,
#sidebar .woocommerce.widget_shopping_cart .cart_list li,
#sidebar .woocommerce ul.product_list_widget li:first-child,
#sidebar .woocommerce .widget_shopping_cart .cart_list li:first-child,
#sidebar .woocommerce.widget_shopping_cart .cart_list li:first-child,
#sidebar .wpex-widget-recent-posts-li,
#sidebar .widget_categories li,
#sidebar .widget_recent_entries li,
#sidebar .widget_archive li,
#sidebar .widget_recent_comments li,
#sidebar .widget_product_categories li,
#sidebar .widget_layered_nav li,
#sidebar .widget-recent-posts-icons li,
#sidebar .wpex-widget-recent-posts-li:first-child,
#sidebar .widget_categories li:first-child,
#sidebar .widget_recent_entries li:first-child,
#sidebar .widget_archive li:first-child,
#sidebar .widget_recent_comments li:first-child,
#sidebar .widget_product_categories li:first-child,
#sidebar .widget_layered_nav li:first-child,
#sidebar .widget-recent-posts-icons li:first-child { border-color: #e4e4e4; }

/* Widgets > Custom Menu */
#sidebar .modern-menu-widget li.current-menu-item a:after { color: #fff; }
#main .widget_nav_menu a { background: #fff; border-color: #ddd; color: #777; }
#main .widget_nav_menu a:hover { background: #f1f1f1; color: #000; }
#main .widget_nav_menu .current_page_item > a { background: #78b153; color: #fff; border-color: transparent; position: relative; margin-top: -1px; }

/* Widgets > Modern Menu */
#sidebar .modern-menu-widget li.current-menu-item a:after { color: #fff; }
.modern-menu-widget,
.modern-menu-widget li { border-color: #e4e4e4; }
.modern-menu-widget a { background: #fff; }
.modern-menu-widget a:hover { color: #78b153; }
#sidebar .modern-menu-widget li.current-menu-item a { color: #fff; background: #78b153; }

/*--------------------------------------------------------------
- Pagination
--------------------------------------------------------------*/
nav.woocommerce-pagination ul li a,
nav.woocommerce-pagination ul li span,
.page-numbers a,
.page-numbers span { border: 1px solid #e4e4e4; background: #fff; color: #444; border-radius: 3px; }
.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover { color: #fff; border-color: transparent; }
.post-pagination { border-top: double #ddd }

/*--------------------------------------------------------------
- Visual Composer
--------------------------------------------------------------*/
.wpex-carousel .owl-prev,
.wpex-carousel .owl-next { background: #81b65f; }
.wpex-carousel .owl-prev:hover,
.wpex-carousel .owl-next:hover { background: #689c47 }
.wpex-carousel-entry-details { background: #fff; }

/* Visual Composer > Columns */
.wpb_column .boxed-column { background: #fff; border-color: #ddd; }

/* Visual Composer > Recent News */
.vcex-recent-news-entry { border-bottom-color: #ddd; }

/* Visual Composer > Tabs */
body .wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li a:hover,
body .wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a,
body .wpb_tour.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a,
body .wpb_tour.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a:hover,
body .wpb_tour.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { background: #78b153; color: #fff; }
body .wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { border-bottom-color: #78b153 }
body .wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li a { border-color: #ddd; background: #fff; }
body .wpb_tabs.tab-style-alternative-two .wpb_tabs_nav { border-color: #ddd }
body .wpb_tour.tab-style-alternative-one .wpb_tabs_nav { background: #fff }
body .wpb_tour.tab-style-default .wpb_tabs_nav li,
body .wpb_tour.tab-style-default .wpb_tour_tabs_wrapper .wpb_tab,
body .wpb_tour.tab-style-alternative-two .wpb_tour_tabs_wrapper .wpb_tab,
body .wpb_tour.tab-style-alternative-two { border-color: #ddd }
body .wpb_tour.tab-style-alternative-two { background: #fff }

/* Visual Composer > Toggles */
.vc_toggle_default .vc_toggle_title { background: #fff; border: 1px solid #ddd; border-radius: 3px; }
.vc_toggle_default .vc_toggle_title:hover { background: #fff; }

.vc_toggle_default.vc_toggle_active .vc_toggle_title h4,
.vc_toggle_default.vc_toggle_active .vc_toggle_title h4:before,
.vc_toggle_default.vc_toggle_active .vc_toggle_title:hover { color: #fff; }

/* Visual Composer > Accordions */
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header { background: #fff; border: 1px solid #ddd; border-radius: 3px; }
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:hover { background: #fff; }

.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a:before { color: #fff; }

/* Visual Composer > Pricing */
.vcex-pricing .vcex-pricing-header { background: #555; color: #fff; border-color: transparent; }
.vcex-pricing.featured .vcex-pricing-header { background: #81b65f; border-color: transparent; }
.vcex-pricing .vcex-pricing-ammount { color: #444; font-weight: normal; }

/* Visual Composer > Testimonials */
.testimonial-entry-content { background: #fff; }
.testimonial-caret { border-top-color: #fff;  }
.testimonial-entry-thumb img { background: #fff; border: 1px solid #ddd; }
.vcex-testimonials-fullslider.dark-skin .flex-control-nav li a:hover,
.vcex-testimonials-fullslider.dark-skin .flex-control-nav a.flex-active { background: #78b153 }

/* Visual Composer > Teasers & Icon Boxes */
.vcex-teaser-two,
.vcex-teaser-three .vcex-teaser-content,
.vcex-icon-box-four { background: #fff; border-color: #ddd; }
.vcex-icon-box-five { background: #fff }
.vcex-icon-box-four.vcex-icon-box-with-link:hover,
.vcex-icon-box-five.vcex-icon-box-with-link:hover { background: #78b153 }

/* Visual Composer > Separator w/ Text */
body .vc_text_separator_two span { border-bottom-color: #000 }
.vcex-callout { background: #fff; border: 1px solid #eee; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; text-shadow: none; }
body .vc_text_separator_one span,
body .vc_text_separator_two span,
body .vc_text_separator_three span,
body .vc_text_separator_four span,
body .vc_text_separator_five span,
body .vc_text_separator_six span { background-color: #f6f6f6 }

/* Visual Composer > Callout */
.vcex-callout-caption { text-shadow: none }

/* Visual Composer > Recent News */
.vcex-recent-news-date span.month { background: #78b153 }

/* Visual Composer > Blog Grid */
.vcex-blog-entry .vcex-blog-entry-details { background: #fff; border-color: 1px solid #e4e4e4; }

/*--------------------------------------------------------------
- Portfolio
--------------------------------------------------------------*/
.portfolio-entry-details { background: #fff; border: 1px solid #e4e4e4; border-top: 0; padding: 20px; }
.portfolio-entry-title { font-size: 1.231em; }

/*--------------------------------------------------------------
- Staff
--------------------------------------------------------------*/
.staff-entry-title { font-size: 1.231em; }
.staff-social { margin-top: 10px; }
.staff-social a { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; background: #fff; color: #999; border: 1px solid #ddd; border-radius: 4px; margin: 0; }
.staff-social a:hover { background: #81b65f !important; color: #fff !important; border-color: transparent; }

/*--------------------------------------------------------------
- Footer
--------------------------------------------------------------*/
#footer-callout-wrap { background: #fff; border-color: #e4e4e4; }

/*--------------------------------------------------------------
- WooCommerce
--------------------------------------------------------------*/

/* WooCommerce > Filter */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { background: #ddd; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle { background: #444; }

/* WooCommerce > Store */
.woocommerce .woocommerce-result-count { background: #fff; }

/* WooCommerce > Singular */
.woocommerce div.product .product_title { font-size: 1.846em; }

/* WooCommerce > Star Ratings */
.woocommerce .star-rating:before { color: #ccc; }
.woocommerce-review-link { color: #777; }

/* WooCommerce > Notices */
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message { background: #fff; }

/* WooCommerce > Widgets */
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a { color: #000; }

#footer .woocommerce ul.cart_list li a,
#footer .woocommerce ul.product_list_widget li a { color: #fff; }

/* WooCommerce > Entries */
.woocommerce ul.products li.product h3:hover,
.woocommerce ul.products li.product h3 mark:hover { color: #898989; }
.woocommerce ul.products li.product .price,
.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins { font-weight: 500; }

/* WooCommerce > Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs { border-bottom: 1px solid #ddd; }

/* WooCommerce > Comments */
.woocommerce #reviews #comments ol.commentlist li img.avatar,
.woocommerce #reviews #comments ol.commentlist li { border-color: #ddd; }
.woocommerce #reviews #comments ol.commentlist li img.avatar { background: #fff; }

/* WooCommerce > Related */
.upsells.products h2,
.related.products h2 { padding-bottom: 4px; border-bottom: 1px solid #ddd; }

/* WooCommerce > Tables */
.woocommerce table.shop_table thead,
.woocommerce .cart-collaterals h2,
.woocommerce .cart-collaterals h2,
.woocommerce ul.order_details,
.woocommerce-checkout #payment,
.woocommerce .col2-set.addresses .col-1,
.woocommerce .col2-set.addresses .col-2 { background: #fff; }

.woocommerce-page .cart_totals,
.woocommerce-page .cross-sells,
.woocommerce .cart_totals,
.woocommerce .cross-sells,
.woocommerce-checkout-review-order-table tfoot th,
.woocommerce .shop_table.order_details tfoot th,
.woocommerce .shop_table.customer_details th { background: #fefefe; }

.woocommerce-checkout #payment div.payment_box { background: #eee; }
.woocommerce-checkout #payment div.payment_box:after { border-bottom-color: #eee; }

.woocommerce-checkout #payment ul.payment_methods,
.woocommerce table.shop_table,
.woocommerce table.shop_table td,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce .order_details,
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals h2,
.woocommerce .cart-collaterals h2,
.woocommerce ul.order_details,
.woocommerce .shop_table.order_details tfoot th,
.woocommerce .shop_table.customer_details th,
.woocommerce .col2-set.addresses .col-1,
.woocommerce .col2-set.addresses .col-2 { border-color: #e4e4e4; }

/*--------------------------------------------------------------
- bbPress
--------------------------------------------------------------*/
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer { background: #78b153 }
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer,
.content-area .forum-titles { color: #fff }
.forums div.bbp-reply-content a { color: #fff }
.forums div.bbp-reply-content a:hover { color: #d4e6c8 }
.content-area .bbp-forum-title:hover,
.content-area .bbp-topic-permalink:hover { color: #78b153 }
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic { background: #fff !important }
#bbpress-forums div.reply { background: #fff }
#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header { background: #f1f1f1 }
#bbpress-forums fieldset.bbp-form legend { background: #fff; border-radius: 4px; border: 1px solid #ddd; padding: 5px 10px; }
#bbpress-forums fieldset.bbp-form { padding: 20px }
#bbpress-forums fieldset.bbp-form { border-color: #ddd; background: #fff; }
.bbp-login-form,
.bbp-logged-in { background: #fff; border-color: #ddd; border-radius: 4px; }
.widget_display_stats dt { background: #fff }
.widget_display_stats dd { background: #78b153; color: #fff; }
.bbp-pagination-links a { background: #fff; border: 1px solid #ddd; border-radius: 2px; }
.bbp-pagination-links a:hover,
.bbp-pagination-links span.current { background: #78b153; color: #fff; border-color: transparent; border-radius: 2px; }
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header { border-color: #ddd }

/*--------------------------------------------------------------
- Highlight > Primary ( Green )
--------------------------------------------------------------*/

/* Highlight > Color */
a,
h2 a:hover,
h3 a:hover,
h4 a:hover,
a:hover h2,
.meta a:hover,
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product h3 mark,
.woocommerce ul.cart_list li a:hover,
.woocommerce ul.product_list_widget li a:hover { color: #81b65f }

/* Highlight > Background */
.theme-button,
input[type="submit"],
button,
#header-two-search-submit,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce ul.products li.product .added_to_cart,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
#site-scroll-top:hover,
#main .tagcloud a:hover,
#wp-calendar caption,
#sidebar .modern-menu-widget li.current-menu-item a,
.navbar-style-one .menu-button > a > span.link-inner,
#mobile-menu a:hover,
.vcex-pricing.featured .vcex-pricing-header,
.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.vc_toggle_default.vc_toggle_active .vc_toggle_title,
.vc_toggle_default.vc_toggle_active .vc_toggle_title:hover,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header:hover,
.vcex-skillbar-bar,
.vcex-icon-box.style-five.link-wrap:hover,
.vcex-icon-box.style-four.link-wrap:hover,
.vcex-recent-news-date span.month,
.vcex-pricing.featured .vcex-pricing-header,
.vcex-testimonials-fullslider .sp-button:hover,
.vcex-testimonials-fullslider .sp-selected-button { background: #81b65f; color: #fff; }

.woocommerce button.disabled,
.woocommerce button.alt:disabled { background: #bbb !important; }

/* Highlight > Background > Hover */
.theme-button:hover,
input[type="submit"]:hover,
button:hover,
#header-two-search-submit:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce ul.products li.product .added_to_cart:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.navbar-style-one .menu-button > a > span.link-inner:hover,
.post-tags a:hover { background: #70a74c; color: #fff; }

/* Highlight > Borders */
#searchform-dropdown,
body #site-navigation-wrap.nav-dropdown-top-border .dropdown-menu > li > ul,
#current-shop-items-dropdown,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a { border-color: #81b65f; }
